[2019-05-17 00:48] pusateri opened #945 "Why do UDP tests use unsafe for recv_from() and advancing buffer?"
It would be nice to have some examples that use a Bytes buffer that don’t use unsafe. I can’t seem to find any examples that allow UDP socket recv_from() into a Bytes buffer which is handy for reading Big Endian.

[2019-05-17 05:51] glebpom opened #946 "mio 0.6.17 compilation error on apple ios targets"
Mio version 0.6.17 fails to compile on `apple-ios-i386` and `armv7s-apple-ios` with the following error:

[code]

[2019-05-17 09:56] Thomasdezeeuw commented on #946
@glebpom I've created #948 (and #947 for master) to fix this, can you try that change as I don't have any 32bit platforms.

@carllerche Do we have any CI around 32 bit kqueue platforms?

[2019-05-17 10:03] Thomasdezeeuw commented on #934
Since I don't think the API is used in production should just remove the sub implementation and look at it again once people request it? Because I don't think a lot of people change the interests after registering the first time, outside of testing. I could however be wrong of course.

[2019-05-18 06:08] glebpom commented on #946
@Thomasdezeeuw your branch works well, thanks

[2019-05-19 15:25] Thomasdezeeuw commented on #946
Pr #948 (and #947 for the master branch) is now merged. @carllerche I think this needs a release.

[2019-05-20 11:46] Juzenhon opened #949 "mio , ios platform crashed"
err message: Message from debugger: Terminated due to signal 13
add code  `signal(SIGPIPE, SIG_IGN);`   is ok, does mio should consumed this signal ?

[2019-05-20 12:21] Thomasdezeeuw commented on #949
Mio doesn't do signal handling, and signal handling itself is quite hard to do correctly cross platform (see #16 for example). In my opinion it should be up to the user deal with signals, including handling `SIGPIPE`.

[2019-05-21 17:18] antoyo opened #951 "Version 0.6.17 breaks the behavior"
It should have been a minor release.
I'm not sure what's the issue now and I cannot show the code, but I'll tell when I figure out.

[2019-05-24 13:58] nox opened #953 "Switch to winapi 0.3"
This has been stalled since forever now, and this actually is starting to hinder development of Servo, we are now in the process of forking both mio and iovec because of this. This certainly isn't good for the Rust ecosystem that mio is still stuck in the past.

Can we fix this huge problem before 2020?

https://github.com/servo/servo/pull/23449

[2019-05-24 14:01] jdm commented on #912
@SergejJurecko Do you have any more specific details about the support on ARM windows?

[2019-05-24 14:16] SergejJurecko commented on #912
No I have not tried it actually. Even for desktop you have to compile with release and not have too many dependencies because you never know what parts of winapi-rs they will pull in to mess you up.

Also keep in mind it might all work locally and be rejected once you try to publish to windows store..

[2019-05-24 19:30] benesch opened #955 "CHANGELOG is out of date"
Looks like the changelog is missing entries for the two latest versions (6.17 and 6.18) of mio. Perhaps the section marked "unreleased" just needs to be updated appropriately?

[2019-05-24 19:42] carllerche commented on #955
Those would be here: https://github.com/tokio-rs/mio/blob/v0.6.x/CHANGELOG.md (on the v0.6.x branch) which hasnt' been merged into master yet. That file should also be bundled with the crate release.

[2019-05-24 21:07] benesch commented on #955
D’oh, thanks!

[2019-05-24 21:07] #955 closed

[2019-05-25 08:19] Thomasdezeeuw commented on #953
I don't have Windows so I can't really help here, but there is #956.

Would you like to see that in a 0.6.x release, or in 0.7 (of which the release date isn't clear and will be a bit in the future)?

[2019-05-25 08:23] Thomasdezeeuw opened #957 "Support vectored I/O 0.7"
Tracking issue: https://github.com/rust-lang/rust/issues/58452, stable in Rust 1.36.

New method: https://doc.rust-lang.org/nightly/std/io/trait.Write.html#method.write_vectored, using https://doc.rust-lang.org/nightly/std/io/struct.IoSlice.html.

We can replace the iovec crate with `IoSlice`.

(mio_st issue: https://github.com/Thomasdezeeuw/mio-st/issues/99)

[2019-05-25 08:24] Thomasdezeeuw commented on #914
Done in #915.

[2019-05-25 08:24] #914 closed

[2019-05-25 08:57] nox commented on #953
We needed that in 2018, so I don't really care in which version it happens, we just need it happening.

[2019-05-26 03:11] asomers opened #959 "connect_error test takes too long"
In recent CI runs on FreeBSD, the `test_tcp::connect_error` test takes > 60s.  However, on my personal machine it's < 1s, so I don't know what the problem is.
https://cirrus-ci.com/task/5165242334576640

[2019-05-26 09:32] Thomasdezeeuw commented on #959
Some more builds that with the same problem: https://cirrus-ci.com/task/4567519352848384, https://cirrus-ci.com/task/6215557779554304, so it doesn't seem to be a fluke.

Could this be an OS setting?

[2019-05-26 13:33] asomers commented on #959
Possibly, but I can't reproduce it locally.  Maybe it'll take a GCP VM to reproduce it.

[2019-05-26 17:32] the8472 commented on #923
The PDF claims support for socket IO (page 8). Timeouts are supported via timerfd according to a tweet by @deweerdt. Linux 5.2 also adds eventfd and fsync support. So this should have all the building blocks needed for a complete event loop.

[2019-05-26 20:59] kamalmarhubi commented on #923
I think this will be a bit hard to force into mio's readiness-based model, and with Rust's ownership model in general. The buffers passed into the kernel must remain valid until the IO completes which doesn't give them any static lifetime.

My best thought at the moment is this would require an extra copy in the library to get around the lifetime issues: the buffers passed to the kernel are owned

[2019-05-26 21:07] rvolgers commented on #923
It also allows to pre-register buffers so the kernel can skip the step of mapping them into kernel space (or maybe this is a future direction they wanted to move in, I forget), in which case it's even more clear the ring owns the buffers. It also makes sense in a lot of other IO models that involve memory mapping or even DMA (although we are getting really far from mio now). One downside of having

[2019-05-26 21:29] kamalmarhubi commented on #923
Oh I think I remember reading that. That does make the ownership clearer. But even if you don't pre-register buffers, I think the ring has to own the buffers as it's the only thing that can know when they are safe to drop. Does that seem right?

This is where I'm a bit hung up: I think you have to copy no matter what, at least in mio's model. You'd get a set of events back from `poll()` signalling

[2019-05-28 11:31] Juzenhon opened #960 "mio::Poll::poll crashed for ios target"
Thread 5:
0   libsystem_kernel.dylib               0x196b828e4 0x196b5d000 + _kevent
1   DidEPTool                            0x1050e1da8 0x104204000 + __ZN3mio4poll4Poll5poll117h2c326700e89fa028E
2   DidEPTool                            0x1050e1a30 0x104204000 + __ZN3mio4poll4Poll4poll17hbd448e09b4d4e815E
3   DidEPTool                            0x104fc7d58 0x104204000 + __ZN89_$LT$client_tcp..co

[2019-05-28 11:42] Thomasdezeeuw commented on #960
Can you provide some more information then this? It's rather hard to debug this with this little information. For example what version of Mio you're using, preferably some code if possible.

Right now it seems to me that it happens inside kevent in poll, that points to: https://github.com/tokio-rs/mio/blob/1185510833b48174baa095c988d80e08cfb57209/src/sys/unix/kqueue.rs#L90 But that could be incorr

[2019-05-28 13:38] Juzenhon commented on #960
mio version="0.6.16"

some code:
`fn wait(&mut self, duration: Option<std::time::Duration>) -> Result<bool,std::io::Error> {
        let tmp_dur = duration.clone();
        let begin = std::time::Instant::now();

        self.io.poll(&mut self.events, duration).map(move |count| {
            // count == 0  not always means timeout,for example clear readiness
            if duration.is_some() && be

[2019-05-28 13:41] Juzenhon commented on #960
Mio’ version 0.6.16

**Some code ：**
[code]

[2019-05-28 16:45] carllerche commented on #960
We would need more info, ideally a repro. There is no info about the kind of crash or any other additional info.

[2019-05-28 16:46] carllerche commented on #957
👍

[2019-05-28 21:40] #946 closed

[2019-06-02 06:34] FXTi commented on #934
In `poll.rs: 911`:
[code]

should be changed to

[code]

[2019-06-02 14:25] Thomasdezeeuw commented on #951
@antoyo Any update on this?

[2019-06-02 14:27] Thomasdezeeuw commented on #949
@Juzenhon is this still an issues? Could this be connected to #960?

[2019-06-02 14:30] Thomasdezeeuw commented on #945
You can use [`Vec::resize`](https://doc.rust-lang.org/std/vec/struct.Vec.html#method.resize) to resize a buffer without using unsafe, or as you mentioned the Bytes crate. But as this also happens when dealing with the `Read` and `Write` traits, this isn't really a problem specific to UDP or Mio.

I do agree that an example without using unsafe would be nice, for which we would welcome a pr.

[2019-06-02 14:31] Thomasdezeeuw commented on #921
@rbtying Any update on this?

[2019-06-02 14:33] rbtying commented on #921
I honestly haven't had time to dig into this more -- mostly, we don't have
a clean lab repro, but we have panic stacks that point here. Unfortunately
gotten busy with other stuff, though.

On Sun, Jun 2, 2019, 7:31 AM Thomas de Zeeuw <notifications@github.com>
wrote:

[2019-06-02 16:21] Thomasdezeeuw opened #965 "Add RUST_BACKTRACE=1/full to CI"
For example see https://dev.azure.com/tokio-rs/Tokio/_build/results?buildId=774&view=logs&jobId=429a383f-e486-57ac-3982-9ac65641a32a. A simple unwrap and it's unclear what is wrong.

[2019-06-02 20:55] antoyo commented on #951
Nope. Didn't have the time to investigate.

[2019-06-03 03:24] pusateri commented on #945
Ok. Thanks for the feedback. I'll attempt to put together a pull request.

[2019-06-03 03:24] #945 closed

[2019-06-03 05:05] pusateri opened #966 "Can anyone please review mio tutorial code?"
I'm giving a talk on how to us mio at an upcoming Rust Meetup. I put together a project that is a syslog server in 5 stages that supports UDP v4/v6, TCP v4/v6, and TLS v4/v6 using mio. Before I give the talk, it would be great if someone who's not a beginner like me would take a look at it and make some suggestions for improvement.

https://github.com/pusateri/rslogd

I'm going to continue on with

[2019-06-03 07:31] #960 closed

[2019-06-03 09:01] Thomasdezeeuw commented on #966
See https://github.com/pusateri/rslogd/issues/4.

[2019-06-03 09:01] #966 closed

[2019-06-04 00:53] bgianfo commented on #921
@rbtying Do you have a crash dump? If you do can you determine what the state is, if it's not pending? It seems like possibly IO cancellation might be involved here.

You could try writing to a connection and closing it on the remote side in a loop?

[2019-06-04 18:38] #951 closed

[2019-06-04 20:39] polybuildr opened #967 "WouldBlock vs Ok(0) for TcpStream"
Currently, the [0.6.19](https://docs.rs/mio/0.6.19/mio/struct.Poll.html) docs say:

However, what about the case of `TcpStream::read` or `TcpStream::write` returning `Ok(0)`? I may have done something wrong or triggered undefined behaviour somehow, but I currently have a setup where read and write sometimes return `Ok(0)` seemingly infinite times. In this case, I can't read until WouldBlock becaus

[2019-06-04 21:39] Thomasdezeeuw commented on #967
Reading `Ok(0)` means EOF, so there is no more data available. I don't know of any conditions when the `TcpStream` would return `Ok(0)` when writing.

[2019-06-04 21:43] polybuildr commented on #967
@Thomasdezeeuw, is that strictly necessarily?

From the [Read trait docs](https://doc.rust-lang.org/std/io/trait.Read.html#required-methods)

I feel like the key thing to note here is "this does not mean that the reader will always no longer be able to produce bytes". Considering that this is non-blocking I/O, I wondered if this could mean that there's no data to return right now, but there might

[2019-06-04 21:45] sfackler commented on #967
No, that is not how the operating system indicates that state.

[2019-06-04 21:46] polybuildr commented on #967
@sfackler, sorry - which comment you were replying to?

[2019-06-04 21:49] polybuildr commented on #967
@sfackler: I see. In that case, when I get an `Ok(0)` for a `TcpStream::read`, if that implies EOF, does that mean the connection has closed from the other side?

[2019-06-04 21:53] sfackler commented on #967
You may still be able to write to the other side, but there's no more data to read from it.

[2019-06-04 21:55] polybuildr commented on #967
I see. TCP half-closed connection then?

That seems odd because I thought I hadn't closed the connection from the other end - will double check that.

In any case, that still means the documentation needs to be updated, right?

should be changed to

"With edge-triggered events, operations must be performed on the Evented type until WouldBlock is returned or an EOF is encountered" or something of t

[2019-06-05 12:33] Thomasdezeeuw commented on #967
Well the point the documentation is trying to make is that you need to drain the OS buffer of the TcpStream because an event has been generated for it, only then will another event (when more data is ready) be generated. But I suppose you're right that it's currently not clear enough.

[2019-06-05 18:50] polybuildr commented on #967
Yeah, you're right - reading between the lines, the 0 bytes state is not ambiguous. But yes, I think it could benefit from a clarification.

All the more so because I also looked at the example TCP server in the tests and it doesn't account for 0 bytes read either (though in that specific case it probably doesn't need to care):
https://github.com/tokio-rs/mio/blob/master/test/test_echo_server.rs#L

[2019-06-06 23:24] carllerche commented on #945
UDP should include fns that use T: Buf to avoid the unsafe code.

[2019-06-06 23:25] #920 closed

[2019-06-07 00:34] chandde commented on #953
When will a new release be tagged, to have winapi 0.3.7 and iovec 0.1.2? we're also waiting for this..

[2019-06-07 03:52] carllerche commented on #953
The winapi crate will be bumped with mio 0.7. This version will be released in coordination with the rest of the Tokio stack after `async / await` arrives on the stable Rust channel.

As part of this, winapi will no longer be included in the public API of any crate, so this issue will not happen again.

Until then, if including both winapi 0.2 and 0.3 in an application is not acceptable, patching

[2019-06-07 03:52] #953 closed

[2019-06-07 13:02] nox commented on #953
Any ETA? It's been 2 years.

[2019-06-07 15:32] Thomasdezeeuw commented on #953
Well it's already on master, but I don't think we have an ETA for 0.7.

[2019-06-07 16:51] carllerche commented on #953
@nox there is no ETA. It will be done when it is done. I would appreciate it if you dropped the subject now.

[2019-06-07 18:14] Thomasdezeeuw opened #968 "Awakener design"
This the issue to discuss the design of the `Awakener`. The `Awakener` allows for cross-thread waking of `Poller`.

[2019-06-07 18:18] carllerche commented on #968
My current thinking is to structure it so it can implement `Park` / `Unpark` from Tokio (which will be extracted into a separate crate as it is generally useful).

https://github.com/tokio-rs/tokio/blob/8d0f102de83f8aa59661b9d1839ecc57e50873a7/tokio-executor/src/park.rs#L58-L128

So, `Poll` would implement park, and it would be able to return an "unparker" that is `Sync + Send + 'static`. We can t

[2019-06-07 18:18] Thomasdezeeuw commented on #968
For Gaea (previously mio-st) I use the following design ([docs.rs](https://docs.rs/gaea/0.3.0/gaea/os/struct.Awakener.html)):

[code]

[2019-06-07 19:03] Thomasdezeeuw commented on #968
After discussing with @carllerche, we've decided to use a design like mentioned in https://github.com/tokio-rs/mio/issues/968#issuecomment-499987787, but without the `try_clone` method.

[2019-06-07 19:14] Thomasdezeeuw commented on #853
Not sure were to put this, so I'm putting it here. In regards to what OS versions to support, @carllerche and I decide on as *best effort* support of RHEL 6 (kernel 2.6.32-754).

[2019-06-07 19:30] Thomasdezeeuw commented on #928
@stjepang How far are you with a pr? @carllerche and I discussed this again today and we think we should remove `PollOpt` and always use edge triggers.

[2019-06-12 18:42] MOZGIII opened #977 "Support for `peer_addr` for `UdpSocket`"
I'm trying to test-use the unstable rust feature from here: https://github.com/rust-lang/rust/issues/59127
It would be great if this crate provided the `peer_addr` the same way the std socket does.

It's ok if we hide it with the feature flag.

[2019-06-13 08:46] Thomasdezeeuw commented on #968
Done in #969.

[2019-06-13 08:46] #968 closed

[2019-06-13 08:47] Thomasdezeeuw commented on #928
I've created #975.

[2019-06-13 08:56] Thomasdezeeuw commented on #907
#973 removes `Registration` and `SetReadiness`, #969 and #976 introduces a `Waker` to allow for cross-thread wakeups. So this is done.

[2019-06-13 08:56] #907 closed

[2019-06-13 10:12] Thomasdezeeuw commented on #977
If it moves to stable I think we can do this for 0.7.

[2019-06-13 10:12] Thomasdezeeuw commented on #977
@MOZGIII You want to create a pr for this?

[2019-06-13 10:21] MOZGIII commented on #977
Sure. I'd rather enable support for this even though the std part is in nightly.
It should be possible to hide the method under a feature flag - this was it'll be opt in.

I'll also look into if it's possible to enable it automatically if the nightly `#![feature(udp_peer_addr)]` is enabled somewhere else in the code, but I guess it's not possible currently.

Any advice?

[2019-06-13 10:44] Thomasdezeeuw commented on #977
You could add an empty `nightly` feature to `Cargo.toml` (for example see https://github.com/Thomasdezeeuw/gaea/blob/76b8f797b9416efdac396f9d9b99501ed143cdaf/Cargo.toml#L36-L37).

Next enable the feature when nightly is available: `#![cfg_attr(feature = "nightly", feature(udp_peer_addr))]` in `src/lib.rs`.

And finally add `#[cfg(feature = "nightly")]` before the method (see https://github.com/Tho

[2019-06-13 14:56] carllerche commented on #977
The master branch is targeting nightly atm. 0.7 will be released when At least the iovec types are stable.

[2019-06-13 15:16] Thomasdezeeuw commented on #977
`IoSlice`(previously `IoVec`) will be stablised in 1.36.0, I've just asked if `peer_addr` can be stablised for 1.37.0 (https://github.com/rust-lang/rust/issues/59127#issuecomment-501747563).

[2019-06-13 16:45] carllerche commented on #977
My personal preference is to avoid adding feature flags. If you need access to that function, you can always impl it yourself w/ an ext trait or a custom type.

[2019-06-13 17:12] MOZGIII commented on #977
@carllerche How would I do that in this case? I'd be ok with actually having a custom way of calling this function that's implemented in my project - I just don't want to go through `as_raw_fd` and co cause that just sounds way too complicated for what I need and I already have a simpler workaround for now. Or do you mean in this crate? If we're talking about crate - adding an ext trait would chan

[2019-06-13 17:51] MOZGIII commented on #977
@Thomasdezeeuw I misunderstood what `#![cfg_attr(feature = "nightly", feature(udp_peer_addr))]` does.

I'd rather explicitly add the `udp_peer_addr` feature: `#![cfg_attr(feature = "udp_peer_addr", feature(udp_peer_addr))]`. It is concrete and can easily be deprecated after the `udp_peer_addr` stabilizes. Any downsides to that?

[2019-06-13 17:58] carllerche commented on #977
We can only add nightly features on the master branch that are stabilized w/ a target target date for landing on stable. Anything else adds too much of a maintenance burden.

[2019-06-13 18:10] MOZGIII commented on #977
Ok, makes sense. Maybe then it makes more sense to just wait a bit on the PR right now.

[2019-06-14 18:08] #965 closed

[2019-06-17 12:14] Thomasdezeeuw commented on #901
With #986 most things are done, so closing.

[2019-06-17 12:14] #901 closed

[2019-06-17 12:17] Thomasdezeeuw commented on #905
I also agree with `Source`, maybe in th `event` module, so you can write `event::Source`? If people agree I can make a pr.

[2019-06-17 12:34] Thomasdezeeuw commented on #759
With #983 you can access to the underlying platform specific event, would that solve this @cramertj?

[2019-06-17 12:36] Thomasdezeeuw commented on #710
The deprecated feature is gone.

[2019-06-17 12:36] #710 closed

[2019-06-17 12:43] Thomasdezeeuw commented on #729
I think this is out of scope for Mio, maybe it's better suited for something like Tokio.

[2019-06-17 12:43] #729 closed

[2019-06-17 12:50] Thomasdezeeuw commented on #808
On master we only support edge triggers, thus this no longer applies.

[2019-06-17 12:50] #808 closed

[2019-06-17 12:52] Thomasdezeeuw commented on #820
Android API level < 21 has less then 10% according to https://developer.android.com/about/dashboards, do we still want to support it?

If so, this is the solution by libuv: https://github.com/libuv/libuv/blob/d7f0055b8014196b3c3a3a4eaf86e6ea81745ff0/src/unix/linux-core.c#L89-L103.

[2019-06-17 13:02] Thomasdezeeuw commented on #892
Custom readiness queue has been removed.

[2019-06-17 13:02] #892 closed

[2019-06-17 13:04] Thomasdezeeuw commented on #941
#983 makes `is_hup` available on all platforms. Anything else that needs to be done?

[2019-06-17 13:05] Thomasdezeeuw commented on #928
This was done in #975.

[2019-06-17 13:05] #928 closed

[2019-06-17 17:09] cramertj commented on #759
@Thomasdezeeuw It looks like that change puts registration data into `Ready` but keeps outgoing signal information in the `Event` type (without exposing it as a `Ready` afaict). If the intention is to plumb the `Event` through to Tokio in the way that `Ready` used to be plumbed through, then that would solve the situation. However, I don't see how that would be possible, given that we still don't

[2019-06-17 18:18] carllerche commented on #905
I think I like `Source`, but let me ping a few more people to get feedback.

[2019-06-17 18:23] #684 closed

[2019-06-17 18:30] carllerche commented on #820
I also think we could probably just copy what libuv does for initialization here.

[2019-06-17 18:32] #667 closed

[2019-06-17 18:33] carllerche commented on #941
@Thomasdezeeuw The main question is if HUP will be triggered on only linux or on all *nix platforms. I believe we have to stick with Linux only here. I believe that all that is left to close this issue is verify that all HUP related code is deleted from kqueue.

[2019-06-17 18:40] carllerche commented on #759
There is no more `usize` requirement anymore?

[2019-06-17 18:45] carllerche commented on #759
If you mean `PollEvented` has a usize requirement, then yes. That would not work. However, `Registration` is basically a stream of events, so you could get that data there. `PollEvented` is a layer on top of `Registration`.

[2019-06-17 20:58] Thomasdezeeuw commented on #941
Shouldn't we document the different meaning for HUP on epoll/kqueue platforms and support both?

[2019-06-17 21:47] carllerche commented on #941
@Thomasdezeeuw I do not know of a way to unify hup across linux & kqueue in a way that is more useful than just responding to read / write. In order for specialized events to be useful, they need stronger guarantees. This would allow the user to issuing syscalls when they know how the call will respond. AFAIK, there is no way to detect a full socket close on kqueue reliably w/o maintaining state:

[2019-06-17 21:50] Thomasdezeeuw opened #990 "Consider exposing OS specific event"
In #983 I initially gave the user read only access to the OS event, that is `kevent`/`epoll_event`, etc. This is an issue to gather feedback whether or not this should be exposed or not.

[2019-06-17 21:58] #934 closed

[2019-06-19 11:37] Thomasdezeeuw commented on #941
Since HUP isn't supported by all platforms, i.e. Windows doesn't have it, I think it should be a bit of a second class citizen and documentation that it's very platform specific what HUP actually means. Or we should remove it completely, because as you said it's not really possible to mimic any platforms' behaviour.

[2019-06-19 16:48] carllerche commented on #941
I would leave it but document that it is only fired on Linux.

[2019-06-20 16:46] carllerche opened #993 "Consider renaming `Interests` -> `Interest`"
I'm not 100% sure about this. I believe naming the type `Interest` would be more correct, but I could be wrong.

[2019-06-20 17:02] carllerche opened #995 "Refactor tests"
The mio tests are still structured as they were initially many years ago. They are in need of some cleanup.

- Remove `test_` from file name
- Remove `tests/mod.rs`.
- Remove boilerplate (see [this](https://github.com/tokio-rs/mio/blob/master/test/test_tcp_shutdown.rs) test).
- Other cleanup.

[2019-06-20 17:34] Thomasdezeeuw commented on #993
I depends on how you read it I guess. I've always read it to be a set of interest*s*. But I don't a have strong opinion either way.

[2019-06-20 17:38] carllerche opened #996 "Remove `usize` conversions from `Token`."
At the very least `From<usize>` should be removed given #788. We could use a `TryFrom` since that is stable now.

[2019-06-20 17:43] Thomasdezeeuw commented on #995
I also plan to port of all tests I have in Gaea (https://github.com/Thomasdezeeuw/gaea/tree/5103cf8ae4c9e54b118f50620a43b3df4605afa4/tests).

[2019-06-20 20:24] Thomasdezeeuw opened #999 "Remove SelectorId"
Currently it only seems to be used check if a `Evented` type isn't (re)registered with different selectors (https://github.com/tokio-rs/mio/blob/2d8ecd63018010e5db4e4803ac684a83f6c77ed2/src/poll.rs#L802-L813).

[2019-06-24 16:27] carllerche commented on #993
I'm leaning towards renaming it as I feel like plural struct names aren't great (hard to differentiate `Event` vs. `Events` when reading). So, `Interests` should either be `Interest` (which I think works) or `InterestSet`. I prefer `Interest`.

Incidentally, I want to rename `Events` too :)

[2019-06-24 16:28] carllerche opened #1003 "Consider renaming `Evented` trait"
The best option currently is `Source`.

Continuing the discussion from https://github.com/tokio-rs/mio/issues/905#issuecomment-491046264.

[2019-06-24 17:27] carllerche commented on #759
@cramertj are you saying that you would want a `Mutex<Event>` on fuschia? It seems like you would want to avoid that for types that don't need the mutex (TCP types i would assume).

[2019-06-24 17:28] carllerche commented on #759
For more context: I'm expecting to plumb more platform specific logic into Tokio.

[2019-06-24 18:02] cramertj commented on #759
The issue here is that on Fuchsia, it's possible for actual data to be delivered as part of an event coming off of a port, rather than just a notification. In those cases, we'd need to be able to store that data and deliver it across the `PollEvented` (or similar) boundary. I don't have a particularly strong opinion about the mechanism over which this happens, but it needs to be possible in order

[2019-06-24 18:02] Thomasdezeeuw commented on #788
For what do we want to reserve tokens for internal use? Pr #1000 show we can do without the wake token, on Unix at least.

[2019-06-24 18:25] carllerche commented on #788
There were other cases this seemed useful for. It allowed platforms to enable platform specific functionality by bypassing `Poll` / `Token`. For example, you could imagine a custom task scheduler. This came up when talking about Fuschia.

Basically, unless there is a strong reason to *not* reserve token space, it seems like a good idea for forwards compatibility.

[2019-06-25 08:02] Thomasdezeeuw commented on #788
Although I'm not 100% sure on whether we should reserve the space I'm ok with it. What if we take half? On 64 bits that means that the use has 2 ^ 32 tokens, more then four billion, that should be enough for more use cases. Then we can add `From<u32>` for `Token` that always succeeds, because I don't really want to deal with the error in `TryFrom` (talking about #996).

[2019-06-25 08:06] Thomasdezeeuw commented on #1003
Also want to move this into the `event` module? Then we have `event::Source` which seems like a nice name.

[2019-06-25 08:08] Thomasdezeeuw commented on #905
I think for now it's best to leave the `Token` name and instead rename `Evented` (#1003).

[2019-06-25 16:05] carllerche commented on #1003
@Thomasdezeeuw sounds good to me :+1:

[2019-06-25 16:08] carllerche commented on #905
Sounds good to me :+1: I will close this.

[2019-06-25 16:08] #905 closed

[2019-06-25 16:09] carllerche commented on #788
Half is fine w/ me. However, we can't guarantee u64 as epoll on 32bit systems only gives you a u32.

[2019-06-25 16:10] carllerche commented on #788
I think we can remove `impl From<usize> for Token` and instead have `Token::from_usize` which is documented to panic on invalid values.

[2019-06-25 16:23] #999 closed

[2019-07-03 06:55] gleon99 opened #1010 "Allow getting raw socket handle in Windows"
Currently there's no way in Windows to get a raw socket handle from a `mio::net::TcpListener` or `mio::net::TcpStream` - i.e, like `IntoRawFd` in Unix.

Please add this functionality, as well as `FromRawFd` and `AsRawFd`, .

[2019-07-03 07:07] Thomasdezeeuw commented on #1010
@gleon99 a pull request would gladly be accepted.

[2019-07-04 06:10] carllerche commented on #1010
Dup of #859 (which is blocked on a new windows impl).

[2019-07-04 06:10] #1010 closed

[2019-07-04 09:41] c-bata opened #1011 "[Bug] Sometimes Poll::poll doesn't notify even if sockets are ready to read (using kqueue)."
Hi! Thank you for developing this cool library.

## Bug details

I implemented a simple http server using mio for my understanding. The source code is below:

https://gist.github.com/c-bata/3540c6959cdad0f0644928887d32c13c

When I sends multiple requests to this http server using apache bench, some responses are blocked.

[code]

As the output shows, `concurrency - 1` requests are blocked. The rea

[2019-07-04 09:56] Thomasdezeeuw commented on #1011
When using edge triggers (only option on master branch) you need to call `accept` (on the `TcpListener`) until it returns a would block error. This is not a bug.

[2019-07-04 09:56] #1011 closed

[2019-07-04 10:16] c-bata commented on #1011
I see. Thanks!

[2019-07-04 12:15] Thomasdezeeuw opened #1013 "Remove `EventedFd`"
Should be remove `EventedFd` and instead implement `Evented` on `RawFd` directly?

[2019-07-04 14:23] Thomasdezeeuw opened #1015 "Discussion around `cvt`"
The `cvt` function (defined here: https://github.com/tokio-rs/mio/blob/aa84849c612a8887fab92581e8101369e0b2c4eb/src/sys/unix/mod.rs#L43-L66) is helper function to convert a system call return value into an `io::Result`.

I'm personally not a fan of it. It is just a single if statement and I think it's better to just inline this in the code.

At the very least it could do with a better name.

[2019-07-04 15:36] Thomasdezeeuw opened #1017 "Use MaybeUninit from 1.36"
With 1.36 being stable (https://blog.rust-lang.org/2019/07/04/Rust-1.36.0.html) we can use `MaybeUninit`, this allows use to remove some undefined behaviour from Mio.

Related https://github.com/Thomasdezeeuw/gaea/issues/49, https://github.com/Thomasdezeeuw/gaea/pull/71.

[2019-07-04 16:49] carllerche commented on #1015
I am not a fan of the `cvt` function as it is either, but IMO reducing duplication of code like this is good.

Instead, what about a macro? That would remove the requirement for the `IsMinusOne` trait:

[code]

[2019-07-04 17:59] carllerche commented on #1017
:+1: we can target that

[2019-07-04 18:01] Thomasdezeeuw commented on #1015
What if we remove the `return` and just return an `io::Result` from the macro. Then we use the result, e.g.:

[code]

[2019-07-04 21:04] carllerche commented on #1015
Sure but then I would avoid “try” in the name as that tends to mean return early on error.

[2019-07-05 07:51] Thomasdezeeuw commented on #1015
`sys_call`? Maybe we add `libc::` in the macro, so it becomes `sys_call!(kqueue())`.

[2019-07-05 08:42] Thomasdezeeuw commented on #1013
In #1014 I've renamed `EventedFd` to `SourceFd`, which isn't a very good name.

[2019-07-05 09:49] Thomasdezeeuw commented on #820
Pr #1005 switches to using `epoll_create1` also removing `dlsym`, so I don't think this is an issue anymore. If still is still an issue on the master branch, feel free to reopen.

[2019-07-05 09:49] #820 closed

[2019-07-05 17:21] carllerche commented on #1013
I opted to not impl it on `RawFd` because not all fds can work with mio.

I don't love the name either, but I don't have a great option off the top of my head.

Another option would be to conditionally define `register_fd`, reregister_fd`, and `deregister_fd` on `Registry` (for unix).

[2019-07-05 17:24] carllerche commented on #1015
`syscall!` would be fine, but i wouldn't implicitly add `libc::` as i think that would make reading it more confusing.

[2019-07-05 18:24] Thomasdezeeuw commented on #1013
I understand this and agree, but handling `RawFd`s is already unsafe as many system calls don't work with any file descriptor (e.g. `accept` doesn't work with a fd that is a file (on disk)).

`RegisterableFd` (not a big fan of it)? I don't really have a better option.

I would prefer not to add these kind of methods as this could like to special methods for different OSes, e.g. `register_handle` o

[2019-07-05 20:09] carllerche commented on #1013
True, but I kind of am assuming that per-OS methods is a given at some level.

Can go w/ that if you wish.

[2019-07-05 20:13] #1003 closed

[2019-07-06 14:50] Thomasdezeeuw commented on #1013
I do prefer a type such as `EventedFd` over adding three methods per OS. But I'll think about the name a bit more as I don't really like `RegisterableFd`.

[2019-07-08 18:38] Thomasdezeeuw commented on #990
This can be delayed until after v0.7, as it will be additional API and likely not breaking API.

[2019-07-08 19:07] Thomasdezeeuw commented on #789
This happened on master already.

[2019-07-08 19:07] #789 closed

[2019-07-08 19:12] Thomasdezeeuw commented on #758
#1023 adds `ExactSizeIterator` for `events::Iter`. On master `clear` and `is_empty` are already methods on `Events`. So closing this.

Also see #931.

[2019-07-08 19:12] #758 closed

[2019-07-08 19:13] Thomasdezeeuw commented on #941
Current state on master is that `Event::is_hup` is provided on all unix platforms, but different when this occurs (i.e. it's platform specific we just pass on the information the OS provides) and this is clearly stated in the documentation. @carllerche anything left you want to here?

[2019-07-08 19:19] Thomasdezeeuw commented on #753
On master `event::Source` (previously `Evented`) mentions that the source need to be de-registered before dropping. Based on that I'm closing this, if anyone thinks anything else needs to be done please reopen.

[2019-07-08 19:19] #753 closed

[2019-07-08 19:22] Thomasdezeeuw commented on #767
From reading the linked code this is about the custom readiness queue, which is gone, well sort of it's still used on Windows, but that needs to be rewritten, so I'm going to close this. @frehberg if anything still needs to be done for this please reopen.

[2019-07-08 19:22] #767 closed

[2019-07-08 19:31] Thomasdezeeuw commented on #759
The current status on master is that `Event` no longer returns readiness (`Ready`), but has a bunch of methods along the line of `is_writable`, and is no longer limited to the `Ready` type. It's also now just a wrapper around the system event.

Exposing addition (platform specific) details is still something we might want and is being tracked in #990, which can be done after a v0.7. As such I'm go

[2019-07-08 19:31] #759 closed

[2019-07-08 19:36] Thomasdezeeuw commented on #838
I agree with @carllerche and think we should stick to mirroring the API in the standard library, closing this. @aep I don't think getting this into the standard library will be that hard, `UdpSocket::peer_addr` also recently landed https://github.com/rust-lang/rust/issues/59127.

[2019-07-08 19:36] #838 closed

[2019-07-08 19:42] Thomasdezeeuw opened #1024 "Rewrite of the Windows implementation"
The Windows implementation hasn't been receiving the attention it needs to be a first class citizen. Even though it passes all the tests on the CI there are a number of issues with it, e.g. #633, #721, #735, #776, #921 and #919. The implementation basically needs a rewrite.

For this we're looking for help as we don't have too many maintainer working on Windows. If you can help please let us know!

[2019-07-08 19:49] Thomasdezeeuw commented on #910
@przygienda any update on this? I'm inclined to close this as we can't reproduce the error.

[2019-07-10 10:31] Thomasdezeeuw commented on #949
Closing due to inactivity, if this still an issue please reopen @Juzenhon.

[2019-07-10 10:31] #949 closed

[2019-07-10 10:36] Thomasdezeeuw commented on #728
@frehberg are there any concrete suggestions you have for the documentation? Since Mio mainly relays signals/events provided by the OS I don't know how much we should document it as it might change as we add other OSes. Currently only readable and writable indicators are cross-platform.

[2019-07-10 10:41] Thomasdezeeuw opened #1025 "Merging Registry and Poll (again)"
In v0.7 `Poll` on unix is just an file descriptor, on the master branch it's split into `Registry` and `Poll` both using `Arc` to share the file descriptor. In my use case I don't need this split as I only use `Poll` from a single location, making the `Arc` unneeded overhead. I propose to remove `Registry` and move back to the structure that was present in v0.7, i.e. a single `Poll`. Making all me

[2019-07-10 10:42] Thomasdezeeuw commented on #904
The work is mostly done for this, closing in favour of #931 and #1025.

[2019-07-10 10:42] #904 closed

[2019-07-10 10:45] Thomasdezeeuw commented on #993
I'm fine with the change to `Interest`. As for renaming `Events`, what do you suggest (also see #931)?

[2019-07-10 10:55] Thomasdezeeuw commented on #841
Is this something we still want to do? Since we use very little of net2 we can also just do the raw calls ourselves remove the need for the net2 crate completely.

[2019-07-10 15:44] carllerche commented on #993
What about `EventSet`?

[2019-07-10 15:45] carllerche commented on #841
I kind of like just doing the raw calls ourselves...

[2019-07-10 15:47] carllerche commented on #1025
I would say we should wait until we have the windows update done... or at least are clear on the direction.

[2019-07-10 15:48] carllerche commented on #1025
The main issue is that, merging it back, would require all OSes being able to guarantee that polling is sync...

[2019-07-10 15:57] Thomasdezeeuw commented on #993
I'm good with that. Do want to name it `EventSet` or move it into the `event` module and name it `Set`, so we get `event::Set`?

[2019-07-10 15:58] Thomasdezeeuw commented on #1025
I don't know about Windows, but aren't C thing `Sync`? As C doesn't really have a concept of `Sync`? But I'm fine with waiting on Windows.

[2019-07-10 16:06] carllerche commented on #1025
Yes, the FD / C is sync... it just is a pretty strong guarantee. I'm not necessarily against merging it back, but we should have a good sense of the pros / cons per platform.

[2019-07-10 16:09] carllerche commented on #993
It should be in the `events` module... `events::Set` is a bit weird IMO... i don't hate `events::EventSet`, but I'm also open to other name options.

[2019-07-10 16:15] Thomasdezeeuw commented on #1025
We could force it to be `!Sync`, then wrapping it an `Arc` still works ([example on playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=dd0aaf49d9fd219df6eee78d0c287764))

[2019-07-10 16:20] frehberg commented on #728
That is too long ago, I have got to see how the docs are looking today,

Just, TCP-Out-Of-Band  is part of the TCP-standard, that every OS implements. I did not check how the API of Rust/mio is looking today, but in 2017 I had the feeling that the API of Rust/mio did not incorporate this feature, neither did the Docs explain what an POLLERR event really means (it is not a communication error!!)
Pl

[2019-07-10 16:34] carllerche commented on #1025
Then it isn’t send right? The arc handle that is.

[2019-07-10 16:41] Thomasdezeeuw commented on #1025
Making `Poll` `!Send` and `!Sync` still makes it work with `Arc`: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=29120553d1e69fc6f1551ce5a6fad1ed.

[2019-07-10 17:06] carllerche commented on #1025
but, we need to be able to register sockets across threads, we only want to poll from one. Maybe I'm missing something, but if `Poll` is used to register sockets and it is `!Send + !Sync`, then it would not be possible to register sockets across threads.

[2019-07-10 18:25] #1015 closed

[2019-07-10 18:25] #911 closed

[2019-07-10 18:42] Thomasdezeeuw commented on #1025
@carllerche you're right I forget to check the requirements of the `Deref` implementation of `Arc`. Lets wait until the Windows rewrite then to see what the requirements should be.

[2019-07-10 18:56] carllerche commented on #1025
Sounds good. Ideally we could get some validation for redox / fuchsia as well.

[2019-07-10 19:35] rom1v commented on #928
Hi,

I just came across this issue after my issue #911 has been closed.

Personnally, I currently use _mio_ only in level-triggered mode (in a tool providing reverse-tethering for Android), for example [here](https://github.com/Genymobile/gnirehtet/blob/2bf8a3cfbe2168031897b8f917c088fe6d47710c/relay-rust/src/relay/tcp_connection.rs#L192) or [here](https://github.com/Genymobile/gnirehtet/blob/2bf8a

[2019-07-10 19:37] Thomasdezeeuw commented on #928
@rom1v I can take a look at your code to see how hard it is to use edge triggers. As for the discussion it was public on [Gitter](https://gitter.im/tokio-rs/mio), likely around the same time I made that comment.

[2019-07-10 20:47] carllerche commented on #928
I'm not necessarily against adding back access to level triggered events, but not at the "portable API" level. As in, we can discuss ways to provide the full feature set of the various OSes at an OS specific level.

[2019-07-10 20:47] carllerche commented on #928
The specific discussion is about the API that mio should expose as the *portable* API (works on all supported platforms).

[2019-07-10 21:02] rom1v commented on #928
(I don't know how Java implements it, but it provides level-triggered events for every platform. See [`SelectableChannel`](https://docs.oracle.com/javase/8/docs/api/java/nio/channels/SelectableChannel.html))

[2019-07-11 17:40] #891 closed

[2019-07-11 20:50] cynecx opened #1031 "Possible fd-leak in `eventfd::Waker::new`"
https://github.com/tokio-rs/mio/blob/eadafc2bed0c8d8f10e527f8cf25fac606e1fdfc/src/sys/unix/waker.rs#L24-L26

A call to `selector.register` can actually fail, hence the `?`, but in an error case we would not destroy the `eventfd` handle which results in a rare-case fd-leak.

EDIT:

Same thing here:

https://github.com/tokio-rs/mio/blob/eadafc2bed0c8d8f10e527f8cf25fac606e1fdfc/src/sys/unix/waker.rs#

[2019-07-11 20:55] cynecx opened #1032 "Eliminate usage of unsafe code in `eventfd::Waker::wake`"
https://github.com/tokio-rs/mio/blob/eadafc2bed0c8d8f10e527f8cf25fac606e1fdfc/src/sys/unix/waker.rs#L33

Can be replaced with:

[code]

https://doc.rust-lang.org/std/primitive.u64.html#method.to_ne_bytes

EDIT:

Also this line could be simplified (no issue with unsafe code here):

https://github.com/tokio-rs/mio/blob/eadafc2bed0c8d8f10e527f8cf25fac606e1fdfc/src/sys/unix/waker.rs#L48

with

[code]

[2019-07-15 12:32] SergejJurecko commented on #633
Yes it still an issue.

This project has it implemented and it is a pretty simple solution: https://github.com/mitsuhiko/rust-listenfd/blob/89a37b36b749536b9cc079be2e1ac25f36b74b52/src/windows.rs#L56

I've tried and putting this in windows deregister call works and registering socket again later also works. I can create a PR if it is desired to implement it this way?

[2019-07-15 13:02] Thomasdezeeuw commented on #1024
See #1034.

[2019-07-15 13:02] Thomasdezeeuw commented on #633
@SergejJurecko a Windows rewrite is in the works (#1034), any chance you can try that?

[2019-07-15 15:46] #1031 closed

[2019-07-15 15:46] #1032 closed

[2019-07-15 15:47] Thomasdezeeuw commented on #1032
Fixed in #1033. Thanks for the review @cynecx, if you any more comments let us know.

[2019-07-15 17:46] carllerche commented on #941
@Thomasdezeeuw To be conservative, I would like to update the docs (for now) to say that linux is the only platform that is guaranteed to receive HUP events.

[2019-07-15 17:46] carllerche commented on #941
as far as I know, we can only receive `RDHUP` events from kqueue...

[2019-07-15 19:23] Thomasdezeeuw commented on #941
I was thinking about all the platform specific events; maybe we should just document which flags it checks for and point to the OS documentation.

[2019-07-15 21:54] carllerche commented on #941
@Thomasdezeeuw sure, we can do that.

I think the only events we can *guarantee* cross platform will be `readable` and `writeable`.

[2019-07-16 09:50] Thomasdezeeuw opened #1035 "Testing in release mode on CI?"
Following https://github.com/tokio-rs/mio/pull/1034#issuecomment-511660944 and #1004 maybe it's worth to test in release mode on the CI.

[2019-07-16 10:02] Thomasdezeeuw commented on #941
@carllerche yes all the others have not about not being cross platform.

[2019-07-16 11:51] Thomasdezeeuw opened #1036 "Remove Event::is_lio?"
It's only supported on FreeBSD and event the manual of kqueue doesn't mention it: https://www.freebsd.org/cgi/man.cgi?query=kqueue&manpath=FreeBSD+12.0-RELEASE+and+Ports.

/cc @asomers

[2019-07-16 13:02] Thomasdezeeuw opened #1038 "Remove UdpSocket::{recv_bufs, send_bufs}?"
Both methods still use `IoVec` and the ecosystem is moving to `std::io::IoSlice`. However the standard library's hasn't (yet) included vectored IO for UDP sockets, do we want to?

[2019-07-16 14:26] carllerche commented on #1038
Yeah, we can just remove it for now. At a later time, we can bring them back using the std IoSlice types.

[2019-07-16 17:12] carllerche opened #1040 "Add a `rdhup` event."
This can be supported by all OSes.

[2019-07-17 11:13] Thomasdezeeuw commented on #1040
https://github.com/tokio-rs/mio/pull/1037/commits/0754d183e1d65c046e22e9ee5876b8a51256dfb9 in #1037 adds this.

[2019-07-17 12:48] #1038 closed

[2019-07-17 14:28] Thomasdezeeuw commented on #728
#1037 drops most of the documentation about the non-cross-platforms indicators and instead refers to the OS specific documentation. That would (sort of) solve this.

[2019-07-18 09:28] Thomasdezeeuw commented on #1013
Had some more thoughts about this, creation and usage of a wrapper like `EventedFd` should probably be `unsafe` as the caller needs to ensure that file descriptor can actually be registered with epoll/kqueue. And my second though is that I would a matching API on the Windows side if possible, so this will likely need to wait until the rewrite is complete.

[2019-07-19 07:21] PerfectLaugh commented on #902
I have tried to make one. https://github.com/PerfectLaugh/mio-compat
But due to unsupported level trigger and oneshot mode, it will throw error when PollOpt is level or oneshot.

[2019-07-19 14:53] carllerche commented on #902
Thanks for the attempt. You are correct that this may be more trouble than it is worth. I will close this now.

Tokio can switch to mio 0.7 at the same time to avoid the split.

[2019-07-19 14:53] #902 closed

[2019-07-19 16:49] carllerche opened #1041 "Remaining `wepoll` items."
Meta issue tracking remaining work to do on the `wepoll` windows implementation. This description will be updated over time.

Original PR: #1034. Original issue #1024.

- [x] Dealing with `WSAStartup`, #1046. (solved in #1029)
- [ ] benchmark new implementation vs. old.
- [x] ensure wepoll licensing requirements are met (copy license file).
- [ ] code comment ownership of pointers being passed aro

[2019-07-19 17:05] #1024 closed

[2019-07-19 17:54] Thomasdezeeuw commented on #1041
- [ ] Ensure all old Windows related issues are fixed with the new implementation.

[2019-07-19 18:11] carllerche commented on #1041
@Thomasdezeeuw I added your item to the OP. Do you have permission to edit the OP directly?

[2019-07-19 18:12] Thomasdezeeuw commented on #1041
Yes, but didn't know that.

[2019-07-19 18:21] carllerche commented on #1041
@Thomasdezeeuw no worries 👍

[2019-07-19 23:21] PerfectLaugh commented on #1041
about memory leak on #1042

[2019-07-20 13:59] Thomasdezeeuw commented on #957
Closed by #1016.

[2019-07-20 13:59] #957 closed

[2019-07-20 14:02] Thomasdezeeuw commented on #735
Windows XP support has ended 5 years ago, I don't think we want to support it either, so I'm closing this.

[2019-07-20 14:02] #735 closed

[2019-07-20 14:04] Thomasdezeeuw commented on #721
@zetok any chance you can try the new Windows implementation (#1034)? To see if this issue still exists?

[2019-07-20 14:06] Thomasdezeeuw commented on #658
`Overlapped` is gone from the API, so I'm closing this.

[2019-07-20 14:06] #658 closed

[2019-07-20 14:13] Thomasdezeeuw commented on #633
In Mio v0.7 registering after deregister is invalid, however *re*registering after deregistering is valid for which I added a test in #1043.

[2019-07-20 14:15] Thomasdezeeuw commented on #912
Since the interest in this seems to have died down I'm closing this, but not rejecting this.

[2019-07-20 14:15] #912 closed

[2019-07-20 14:17] Thomasdezeeuw commented on #921
The Windows implementation is rewritten, so I'm closing this, too bad we didn't find the root cause.

[2019-07-20 14:17] #921 closed

[2019-07-20 14:28] Thomasdezeeuw commented on #633
I was incorrect in my previous comment, in Mio v0.7 *re*registering after deregister is invalid, however registering after deregistering is valid.

[2019-07-20 14:38] SergejJurecko commented on #912
0.7 implementation will not be UWP compatible. Functions in afd.rs  are not allowed in UWP.

[2019-07-20 17:46] carllerche commented on #912
In general, we try to avoid "feature" issues that have no path to implementation.

If someone wishes to champion UWP, they can open a new issue w/ an implementation proposal followed by a PR.

[2019-07-20 18:16] PerfectLaugh commented on #1041
And we probably need to make a notice that the socket can NEVER be used in other place simultaneously with Mio. Because we simulated ET behavior by intercepting all operations that users could do.
If they use the socket in the place where Mio cannot observe (like RawSocket), the polling behavior will be undefined.

[2019-07-21 15:18] Thomasdezeeuw opened #1044 "Installing Rust takes 2 minutes longer on Windows then Linux on Azure"
While developing #1029 for Windows I had too wait for the CI quite a bit, in doing so I noticed that installing Rust took about 2.5 minutes long on Windows, while it only took 40 seconds on Linux.

[2019-07-21 17:57] Thomasdezeeuw opened #1045 "Reduce TcpStream, TcpListener and UdpSocket API to the same as in libstd"
Currently Mio provides the following methods on `TcpStream` which the standard library doesn't (includes both setters and getters):

 - linger.
 - keepalive.
 - send_buffer_size.
 - recv_buffer_size.

In addition I suggest we remove `TcpStream::connect_stream` and `TcpStream::from_stream` to reduce the API further. `FromRawFd` and `FromRawSocket` can be used instead. Same goes for `TcpListener::fr

[2019-07-21 17:57] #1040 closed

[2019-07-21 18:02] carllerche commented on #1045
@Thomasdezeeuw I'm :+1: on this, at least initially. We can always consider adding them back later w/o depending on net2.

[2019-07-22 10:09] Thomasdezeeuw opened #1046 "Determine how to do deal with WSAStartup on Windows"
We first saw the issue in #1029, where the following error appeared: `Os { code: 10093, kind: Other, message: "Either the application has not called WSAStartup, or WSAStartup failed." }`.

We can't initialise it ourselves as standard library has an assertion to check if the return value is ok: https://github.com/rust-lang/rust/blob/00859e3e653973120006aaf3227823062dde1ba7/src/libstd/sys/windows/ne

[2019-07-22 10:58] seamlik commented on #912
Rust can't even target UWP... Though it's [being worked on](https://github.com/rust-lang/rust/pull/60260).

So as a downstream user I might say nothing in Rust supports UWP. After UWP support is merged, I might be able to try investigating this.

[2019-07-22 11:57] Thomasdezeeuw commented on #910
Closing due to inactivity. If someone hit this again, or can find the root cause please let us know.

[2019-07-22 11:57] #910 closed

[2019-07-22 11:59] Thomasdezeeuw commented on #941
I think #1037 solves this for the most part, so closing.

[2019-07-22 11:59] #941 closed

[2019-07-22 12:02] Thomasdezeeuw commented on #1046
We could do the same as in the standard library add an `init` function that somehow triggers the standard library's init function. For the tests in #1029 I added a call to `TcpListener::bind` that is dropped immediately: https://github.com/tokio-rs/mio/blob/dae8291aed0fa0c5aa7b449c630712cb2c441da7/tests/util/mod.rs#L137

However that is not really a pretty solution.

[2019-07-22 16:36] carllerche commented on #1046
How exactly did you trigger it? What fn did you call that returned the error?

[2019-07-22 16:41] carllerche commented on #1046
I see you are calling socket directly. Would it be possible to create all sockets by going through `std` types?

[2019-07-22 16:47] #633 closed

[2019-07-22 16:58] Thomasdezeeuw commented on #1046
Maybe, but then we would be then we would miss out on the optimisation to set `NONBLOCK` and `CLOEXEC` in the call to `socket`, see https://github.com/tokio-rs/mio/blob/dae8291aed0fa0c5aa7b449c630712cb2c441da7/src/sys/unix/mod.rs#L76

When we create a socket via the standard library we need to set non blocking after, incurring another system call.

[2019-07-22 17:10] carllerche commented on #1046
@Thomasdezeeuw I only mean do this on windows. Do those optimizations apply to windows? I know `CLOEXEC` wouldn't (since there is no fork). I'm not sure about the other one.

[2019-07-23 11:57] Thomasdezeeuw commented on #1046
For `TcpStream::connect` we need to set the socket to non-blocking mode before connecting otherwise the connect system call would block.

[2019-07-23 15:32] carllerche commented on #1046
@Thomasdezeeuw This is how `net2` does it: https://github.com/rust-lang-nursery/net2-rs/blob/master/src/sys/windows/mod.rs#L55-L64

Probably the best way...

[2019-07-23 23:34] andrewtj commented on #1046
If an `init()` like function is going to be added, can it be made public and perhaps also be a no-op on other platforms? I ask as I'm currently doing a similar throw away bind behind a `Once` in one of my crates.

[2019-07-24 09:25] Thomasdezeeuw commented on #1046
I did roughly the same thing in #1029 , see https://github.com/tokio-rs/mio/pull/1029/commits/8c33265c4c9674d92e494868016e466066b8ac88. I'll move the init function to the Windows implementation rather then the tests then.

Wasn't going to make it public, but maybe we could do something like that.

I was also thinking to maybe move this into `Poll::new()` and document that any and all types (other

[2019-07-24 11:42] Thomasdezeeuw commented on #1025
@carllerche after the Windows rewrite `windows::Selector` is still `Sync` and `Send` (and so are the Unix counterparts). How do want to validate this for Redox/Fuchsia? Otherwise I would like to move forward with this requiring `Poll` and (thus the `Selector`) to be `Sync` and `Send`, removing the `Arc` and `Registry`.

[2019-07-27 07:00] piscisaureus opened #1047 "windows: support custom completion port integrations"
The new "wepoll" strategy is great for sockets but it makes it impossible to use the thread's I/O completion port for other purposes.
I would suggest to add a low-level "plugin" system so that other crates can share the completion port for different purposes.

This could be used for supporting named pipes and files, which can use overlapped I/O but their APIs work differently; more exotic examples

[2019-07-27 18:00] piscisaureus commented on #1044
But that's not really a mio issue, or is it?

I'm quite sure this is caused by windows' terrible file system performance and rustup force feeding a bazillion html files from the rustdoc component.

[2019-07-28 16:56] Thomasdezeeuw commented on #1044
No but it slowing down the CI, I though it worth looking into. But maybe it should be moved to the Rustup or Azure issue tracker.

[2019-07-28 16:58] Thomasdezeeuw commented on #1047
Related #526.

[2019-07-28 18:22] carllerche commented on #1025
Another question is how to handle concurrency. It doesn’t make a ton of sense to concurrently poll on Linux (unless the exclusive flag is set, not sure about kqueue). Also, on windows there is a hard limit on the max number of concurrent polls.

One thought I had with having a Poll handle take &mut self is they it limits concurrent polling. Then, we could add a Poll::try_clone fn on Poll. This wou

[2019-07-29 01:59] Dushistov commented on #1044
There are a lot of recent fixes in rustup + windows in recent versions of rustup, for example: rust-lang/rustup.rs#1850 .

[2019-07-29 11:05] Thomasdezeeuw commented on #1025
@carllerche do you mean to make all methods on `Poll` to take`&mut self`, i.e. `Poll::poll` but also `Poll::register` and friends? Either way I'm ok with it since I only use `Poll` from a single thread and have mutable access already, however I'm not sure how other people use `Poll`.

Alternatively we could keep `Registry` but make it optional and not behind an `Arc`. On Unix it would `dup(2)` the

[2019-07-30 17:24] carllerche commented on #1046
I probably wouldn't make the `init()` fn public.

[2019-07-30 17:49] carllerche commented on #1025
I would rather not add duping for `Register`.

Registering needs to be `Sync` (at the very least for Tokio), so `register` must take `&self`.

If `Registry` and `Poll` are merged, all fns will need to take `&self` for ^^ including `poll`. This would mean that `poll` would also have to be `Sync`. As you pointed out, this is true today and it is *probably* a safe assumption that all OSes support con

[2019-07-30 18:09] carllerche commented on #1013
I don't think it is `unsafe`... `unsafe` should be limited to APIs that could be unsound as per Rust's definition. Worst case scenario with passing in an invalid FD is you get an error.

[2019-07-31 15:33] Thomasdezeeuw commented on #1025
In the [CreateIoCompletionPort](https://docs.microsoft.com/en-us/windows/win32/fileio/createiocompletionport) docs under `NumberOfConcurrentThreads` (can't link directly) it says:

Is that processor core/hardware thread or processor? If it's per core wouldn't that fix the problem? I suppose you could create multiple threads per core and poll concurrently on all of those, but most models use 1 poll

[2019-07-31 15:34] Thomasdezeeuw commented on #1013
I've also used `unsafe` as a way to indicate caller requirements, in this case that would be ensuring the fd can be used in the system calls.

[2019-07-31 16:57] carllerche commented on #1025
@Thomasdezeeuw my read (which we probably should verify) is not the # of concurrent polls, but the # of threads that can be associated with the IOCP port at the same time. Read the above section and it describes how a thread becomes associated / unassociated with an IOCP port. My guess is that, once a thread is associated with the IOCP port, it will block another thread even if it is not currently

[2019-07-31 16:58] carllerche commented on #1025
Specifically:

[2019-08-03 11:13] Thomasdezeeuw commented on #1025
@carllerche I've created a proof of concept for my idea that allows `Poll::poll` to take `&mut self`, but register `&self` and keeps `Registry` for use behind an `Arc` or similar. The branch is available here: https://github.com/Thomasdezeeuw/mio/tree/poll-no-arc, the commit with the API: https://github.com/Thomasdezeeuw/mio/commit/667419626b128778453867aae23839c57528c836 and a commit with a tests

[2019-08-04 17:07] carllerche opened #1049 "Consider bringing back oneshot & level trigger"
Oneshot was removed as part of the portable mio API. When we discussed it, the argument (made by me) was that you can simulate oneshot fairly easily with edge-triggered notifications. However, I have realized that there is a use case that is not possible to simulate with edge-triggered: polling blocking sockets.

There are cases where you want event notifications for blocking sockets (one case mig

[2019-08-05 09:19] Thomasdezeeuw commented on #1049
I'm +1 for this. I have some tests in Gaea that use level trigger that I can port to Mio.

[2019-08-05 09:21] Thomasdezeeuw commented on #993
I was thinking about this a bit more and maybe `Interests` should be merged with the previous `PollOpt` type, also see #1049. This way we can also make the layout platform dependent, like what we did with `Event`, so we don't have to do any conversions there.

[2019-08-08 20:25] piscisaureus commented on #1041
I would like to add: the current locking scheme is too granular.

It makes little sense to use separate locks for the update_queue and the iocp HANDLE; it's likely to hurt performance and introduce subtle bugs. One example I could find:

https://github.com/tokio-rs/mio/blob/211223e92865e5ae276333cc91673d764bbc386d/src/sys/windows/selector.rs#L368-L370
[code]

^-- By calling `update_socket_events()

[2019-08-08 20:39] piscisaureus commented on #1025
TL;DR: MSDN explains poorly how this works, and the default behavior (setting NumberOfConcurrentThreads to 0) is reasonable behavior.

Longer explanation: windows will not pre-empt a thread that's been woken up by `GetQueuedCompletionStatus` in order to wake up *another* thread blocked on the same completion port. However, once the the woken thread blocks on *something else*, then it is no longer

[2019-08-09 20:26] carllerche commented on #1013
I don't think it should be used like that IMO. That would just be a regular bug. `unsafe` should be reserved for cases that relate to APIs that incorrect usage would result in unsoundness as defined by the Rust memory model.

[2019-08-09 20:46] carllerche commented on #993
@Thomasdezeeuw this makes sense now that `Interests` is split out from `Ready`.

[2019-08-10 13:45] Thomasdezeeuw commented on #1013
An example of an `unsafe` function that wouldn't be unsound, in regards to memory the memory model, would be [`FromRawFd::from_raw_fd`](https://doc.rust-lang.org/std/os/unix/io/trait.FromRawFd.html#tymethod.from_raw_fd). If it would be used with an invalid/incorrect fd most system calls on it (e.g. when used with `File` and it's `io::Read` impl) would also return errors, but wouldn't cause memory

[2019-08-13 17:02] #841 closed

[2019-08-13 17:02] #1045 closed

[2019-08-13 22:24] Thomasdezeeuw opened #1054 "Expand testing of LIO"
Currently the use LIO isn't tested at all in Mio. This is a tracking issue to expand the testing LIO in Mio. To start the following should be tested:

- [ ] If the options (`Interests`) are passed correctly to kqueue.
- [ ] Any events are generated and check if we correctly detect the flag (in `Event::is_lio`).

Continuation of #1036 and #1048.

[2019-08-13 22:24] Thomasdezeeuw commented on #1036
Closing in favour of #1054.

[2019-08-13 22:24] #1036 closed

[2019-08-13 22:28] asomers commented on #1054
I think the easiest way to write these tests would be to start with the code in mio-aio and strip it down.  But mio-aio was written for mio 0.6.  Has anybody yet written a mio 0.6 - 0.7 migration guide?  That would help me.

[2019-08-13 22:30] Thomasdezeeuw commented on #1054
I don't anyone has written a guide like that, would be very useful.

[2019-08-13 22:30] #1025 closed

[2019-08-17 01:43] PerfectLaugh commented on #1041
Is the pull #1055 making sense to you now?

[2019-08-19 18:38] Thomasdezeeuw commented on #1017
We're using this is the code, I don't think much more can be done.

[2019-08-19 18:38] #1017 closed

[2019-08-19 18:40] Thomasdezeeuw commented on #728
As #1037 is merged I'm going to close this. @frehberg if you want to add to the documentation it's always welcome.

[2019-08-19 18:40] #728 closed

[2019-08-19 18:41] Thomasdezeeuw commented on #1046
This was fixed in #1029.

[2019-08-19 18:41] #1046 closed

[2019-08-19 18:44] Thomasdezeeuw commented on #721
Closing this as solved after the Window rewrite.

PS. I don't think connection from an IPv4 to IPv6 works generally speaking.

[2019-08-19 18:44] #721 closed

[2019-08-19 18:55] Thomasdezeeuw commented on #749
Fixed by #1052.

[2019-08-19 18:55] #749 closed

[2019-08-19 18:57] Thomasdezeeuw commented on #839
@carllerche is this still something you want to consider in the scope of Mio?

[2019-08-19 19:00] Thomasdezeeuw commented on #913
@Ralith can you confirm this issue is solved on current master? Your first link now points to a call to  `broadcast`.

[2019-08-19 19:01] carllerche commented on #913
Original link: https://github.com/tokio-rs/mio/blob/v0.6.x/src/sys/windows/udp.rs#L105

I'm going to guess that the answer is yes as we no longer do any double buffering.

[2019-08-19 19:02] carllerche commented on #839
Yes and no... I think we should make sure there is a plan to be able to do so in the future, but we are not blocking on it.

I need to write up my thoughts on the matter.

[2019-08-19 19:07] Thomasdezeeuw commented on #913
Then I'm going to close this as solved.

[2019-08-19 19:07] #913 closed

[2019-08-19 19:09] Thomasdezeeuw commented on #919
@PerfectLaugh or @oherrala can either of you conform the memory leak doesn't exists on current master? I don't this is does any more as #776 is resolved.

[2019-08-19 19:09] #776 closed

[2019-08-19 19:18] Thomasdezeeuw commented on #880
If I'm reading this correctly basically this issue asking for a `SourceFd` (previously `EventedFd`) equivalent for Windows. This is on the list of item to after the rewrite of the Windows implementation, see #1041. @damonbarry, @arsing could you share your ideas on how that should look for your use cases?

[2019-08-19 19:20] Thomasdezeeuw commented on #307
@carllerche does this issue (or parts of it) still apply? Most things got documented over the last couple of years I believe.

[2019-08-19 19:28] Thomasdezeeuw commented on #931
A lot has changed our `Event` and `Events` in Mio v0.7, for example both are now platform dependent and no longer require any conversion or scanning after poll. Are there any other changes we want to make to the API for v0.7?

[2019-08-19 19:29] arsing commented on #880
That's right; see https://github.com/tokio-rs/mio/issues/880#issuecomment-478139530

It would presumably be `SourceSocket` and wrap a `SOCKET`. I would guess `wepoll` makes the `event::Source` impl identical for both.

Then the UDS side can forward to `SourceSocket` just like [the existing `mio-uds` forwards to `EventedFd` today.](https://github.com/alexcrichton/mio-uds/blob/0aa344db805535a0e0cd36

[2019-08-19 19:31] Thomasdezeeuw commented on #880
I'm not a Windows guy, but would also need a wrapper around a `HANDLE` then (for files if I'm correct)? Although I'm not sure if there is any non-blocking filesystem stuff on Windows.

[2019-08-19 19:36] arsing commented on #880
The `wepoll` approach won't work for file `HANDLE`s. It only works for things managed by the AFD driver.

[2019-08-20 03:40] Ralith opened #1062 "Suspect Windows UDP operations"
The Windows UDP I/O operations that deal with explicit `SocketAddr`s seem to be missing the WouldBlock handling that their addressless analogs have, and which are presumably necessary for readiness notification to work: https://github.com/tokio-rs/mio/blob/master/src/sys/windows/udp.rs#L76-L86

Additionally, it's odd that `connect` has that handling, as UDP connectedness is a purely local convenie

[2019-08-20 09:29] Thomasdezeeuw commented on #1062
@PerfectLaugh can you look at this?

[2019-08-20 11:03] oherrala commented on #919
I assume it's this PR: https://github.com/tokio-rs/mio/pull/1034

Adding it here just for cross referencing.

[2019-08-20 14:05] PerfectLaugh commented on #1062
I have to wait for the #1055 land on first since I made changes in udp.rs

[2019-08-20 14:31] oherrala commented on #919
Thanks @PerfectLaugh for working on this!

I quickly tested the current master (e134e798d8f43f4e647dc14eb21464d7bb65132c) in Windows 10 using Dr. Memory 2.2.0 and my previous test code (adjusted for new mio) and Dr. Memory seems to be happy. No more leak like what was found above.

My program:

[code]

[2019-08-20 14:41] oherrala commented on #919
@Thomasdezeeuw @PerfectLaugh is there any change to get this backported into mio 0.6?

Trust-DNS on Windows is affected on this issue as well as probably other users of Tokio in Windows. Without fix in mio 0.6 I'm afraid it might take a while to get the ecosystem updated and fix deployed.

Issues hopefully solved by the fix:
 * https://github.com/bluejekyll/trust-dns/issues/692
 * https://github.c

[2019-08-20 14:54] carllerche commented on #919
It could be possible to backport, but I would like the code to mature some on 0.7 first. There could be other bugs introduced in the change given that it is a rewrite.

The more testing we get on 0.7, the sooner we can backport :-)

[2019-08-20 15:04] Thomasdezeeuw commented on #919
Closing this for v0.7 and moving it to a new *maybe* backport to v0.6 milestone.

[2019-08-20 15:05] Thomasdezeeuw commented on #1047
I think this is related to a `SourceSocket` idea as discussed in https://github.com/tokio-rs/mio/issues/880#issuecomment-522720856.

[2019-08-20 15:16] Thomasdezeeuw opened #1064 "Change event::Source to take &mut (instead of &self)"
This would allow future implementations to forgo any locking/synchronisation if it requires mutable access to any of its internals. Any types that don't need this, for example most types currently exported, can also implement the trait for `&Self` (e.g. `impl event::Source for &TcpStream`) to allow concurrent access. We do something similar with the `io::Read` and `io::Write` traits for `TcpStream

[2019-08-20 15:27] carllerche commented on #1064
We can go this route, but that would mean we aren’t merging Poll and Registry?

[2019-08-20 15:28] carllerche commented on #1064
Basically, if we keep the Poll / Registry split, this is a good next step. If not, we probably want to keep &self and say Source impls should be sync

[2019-08-20 15:34] Thomasdezeeuw commented on #1064
Now that `Poll` and `Registry` no longer require an `Arc` I'm fine with keeping them split apart. How does Tokio use (or would use) the new `Registry`? Really I'm fine with either option at this point.

[2019-08-20 15:54] carllerche commented on #1064
Ah, Tokio would want to store a `Registry` handle in an `Arc`, so I guess that would mean `Registry` can't take `&mut self`.

[2019-08-20 16:01] asomers commented on #1064
This would be helpful for mio-aio, which needs to modify the `Evented` during `register` and `deregister`.

[2019-08-20 16:04] carllerche commented on #1064
The downside would be it would make tokio's `PollEvented` helper more complicated. Right now, it takes `T: Source`. Given that `PollEvented` requires `Sync`, i'm not 100% sure how it would be updated yet.

[2019-08-20 16:05] carllerche commented on #1064
It would probably require adding a new trait (not necessarily in mio): `SyncSource`

[2019-08-20 16:06] carllerche commented on #1064
I actually don't think ^^ is bad. I probably should probably not export mio from tokio anyway and make it an implementation detail

[2019-08-20 16:20] Thomasdezeeuw commented on #1064
@carllerche maybe something like this would work; https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=20a13845d951953a9bf8eb90f76e251b.

[2019-08-20 16:24] carllerche commented on #1064
@Thomasdezeeuw but what does PollEvented<T> use as a bound for T?

I think it would require GAT... which could be simulated with where for but that is ugly

[2019-08-20 16:45] Thomasdezeeuw commented on #1064
@carllerche You can add `&S: Source` bound, see https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=784b310e4e292daeb8f4e2271184b0ff.

[2019-08-20 16:47] carllerche commented on #1064
Hmm, i will have to experiment more, because IIRC, that pattern breaks down at some point....

[2019-08-20 23:47] carllerche commented on #307
Yeah, I think we should close this at this point :+1:

[2019-08-20 23:47] #307 closed

[2019-08-21 12:22] Thomasdezeeuw commented on #1062
Closed by #1066.

[2019-08-21 12:22] #1062 closed

[2019-08-21 13:47] PerfectLaugh commented on #919
I have made a backport. But due to 0.7 only supports edge-triggered mode. Level-triggered in the backport will cause error

[2019-08-21 15:40] Thomasdezeeuw commented on #1049
After chatting with @carllerche we've decided to bring back both level and oneshot trigger, but only for Unix for now.

[2019-08-21 15:53] carllerche commented on #1049
I believe, the current strategy is to conditionally define `oneshot` and `level` on the `Interests` struct.

[2019-08-29 19:30] carllerche commented on #931
I think it is fine to close this issue now :+1:

[2019-08-29 19:30] #931 closed

[2019-08-31 04:48] carllerche opened #1072 "Document minimum platform versions"
I know we discussed this before, but we should have a document like [libuv](https://github.com/libuv/libuv/blob/v1.x/SUPPORTED_PLATFORMS.md) has.

That said, I would definitely say that we should support no earlier than FreeBSD 10.0+

[2019-08-31 04:53] asomers commented on #1072
This isn't RedHat we're talking about.  I don't think anybody will complain if FreeBSD's oldest supported version is 11.2.

[2019-08-31 11:12] Thomasdezeeuw commented on #1072
Related #853.

[2019-08-31 11:29] Thomasdezeeuw opened #1073 "Deregistering TcpListener on Windows doesn't work"
See #1070, relevant CI logs is available here: https://dev.azure.com/tokio-rs/Tokio/_build/results?buildId=2274&view=logs&jobId=429a383f-e486-57ac-3982-9ac65641a32a&taskId=1f926ffb-0ec7-5f9b-ab05-76fbb04597a8&lineStart=150&lineEnd=151&colStart=1&colEnd=1. Relevant test is available here: https://github.com/Thomasdezeeuw/mio/blob/add262520f777d5564c26b7f2fc8596a07c4e83f/tests/tcp_listener.rs#L156-L

[2019-08-31 16:36] Thomasdezeeuw opened #1074 "Investigate TcpListener::try_clone test failures"
Pr #1070 is going to add (or added, depending on when you read this) two testing involving `TcpListener::try_clone` `try_clone_same_poll` and `try_clone_different_poll`, which only fails on Windows. Figure out why.

/cc @PerfectLaugh

[2019-09-06 13:47] Licenser opened #1076 "udp poll with edge hangs"
When using edge as a PollOpt udp sockets stop randomly receiving data.

See the following example: https://github.com/Licenser/mio-udp it stops after a few seconds.

[2019-09-06 15:54] Thomasdezeeuw commented on #1076
With edge triggers you need to `recv` in a loop, please read https://docs.rs/mio/0.6.19/mio/struct.Poll.html#edge-triggered-and-level-triggered.

[2019-09-06 15:54] #1076 closed

[2019-09-06 17:29] Licenser commented on #1076
Hi Thomas, thanks for the quick answer! I read the documentation a few times but that it wasn’t clear for me. I’m a bit confused too how to read in a loop since there is no try_recv for the UDP socket.

[2019-09-06 18:29] Thomasdezeeuw commented on #1076
`recv` (or `read` or `write`, or really any I/O operation) on a non-blocking socket is already a `try_I/O` function as it returns `EAGAIN` or `EWOULDBLOCK` "error" to indicate the socket is not ready to perform that I/O operation, in Rust (and Mio) this is translated into an `io::Error` of the [`io::ErroKind::WouldBlock`](https://doc.rust-lang.org/std/io/enum.ErrorKind.html#variant.WouldBlock) kin

[2019-09-06 18:38] Licenser commented on #1076
Thanks! That makes perfect sense now :D. I have looked at Tokio but to be honest the current state of futures in rust scares me away from it, I'll sure revisit it once await is stable!

In the meantime, to make sure your time isn't wasted with answering a one off question, do you mind if I contribute a UDP server example to mio?

[2019-09-06 18:44] Thomasdezeeuw commented on #1076
Contributes are always welcome! Adding more examples sound goods.

[2019-09-07 11:14] Thomasdezeeuw opened #1078 "Investigate TcpStream smoke test failures"
Pr #1070 is going to add (or added, depending on when you read this) two smoke tests for  `TcpStream` `tcp_stream_ipv4` and `tcp_stream_ipv6`, which only fails on Windows. Figure out why.

/cc @PerfectLaugh

[2019-09-07 11:30] Thomasdezeeuw opened #1079 "Investigate TcpStream nodelay test failures"
Pr #1070 is going to add (or added, depending on when you read this) a tests for  `TcpStream::(set)_nodelay` `nodelay`, which only fails on Windows. Figure out why.

/cc @PerfectLaugh

[2019-09-08 10:56] Thomasdezeeuw opened #1080 "Investigate UdpSocket test failures"
See #1070 tests that are ignored on Windows.

[2019-09-09 05:34] cheako opened #1081 "Noob: Example: TCP: Client: Full error handling."
I tried some examples and playing around, but I'm still confused as to how I'm supposed to test for connection success.  I also don't know how to perform lookups(name to number and sometimes number to name is useful) for hosts or ports.  I don't clearly know where the split in functionality is for std and mio.

Looking for some full examples, projects using mio for Client TCP appreciated.

[2019-09-09 05:37] cheako opened #1082 "poll: winit-0.20.0-alpha3: Combining event loops?"
Winit has a particular way it's implementing an event loop.  Any examples of using the NEW 0.20.0 event loop with mio?  Any examples that run mio in a thread of it's own?

[2019-09-09 10:41] cheako commented on #1081
Just got EPIPE on write().

[2019-09-09 11:36] Thomasdezeeuw commented on #1082
I haven't used winit before, but taking a quick look at the docs it might work if the create thread that polls Mio and sends the (relevant) events to the Winit event loop using [`EventLoopProxy::send_event`](https://docs.rs/winit/0.20.0-alpha3/winit/event_loop/struct.EventLoopProxy.html#method.send_event).

I don't know if the `EventLoop` type of Winit is backed by a file descriptor on Unix, if it

[2019-09-09 11:45] Thomasdezeeuw commented on #1081
Currently DNS lookups in stdlib are done synchronously by the [`ToSocketAddrs`](https://doc.rust-lang.org/std/net/trait.ToSocketAddrs.html) trait (the actual implementation uses libc). We can't use this in Mio since those lookups are blocking, so Mio only provides connecting using [socket addresses](https://doc.rust-lang.org/std/net/enum.SocketAddr.html) (ip & port). If you want to do DNS lookups

[2019-09-10 02:04] cheako commented on #1081
The EPIPE condition was a result of receiving a writable event when the locolhost port was in a closed state.  What I said was having an example that illustrates how to catch every possible condition would solve this problem, because receiving TCPRst is a likely result of sending TCPSyn.

[2019-09-10 08:16] MOZGIII commented on #977
Hey! Just an update: `udp_peer_addr` is being stabilized right now, and it's in the merge process. Let's resume our discussion on this issue!

[2019-09-10 09:25] Thomasdezeeuw commented on #977
I saw, I'm ok with targeting 1.39 (in which `udp_peer_addr` will likely be stable). @carllerche you ok with that?

[2019-09-10 09:43] Thomasdezeeuw commented on #1081
The problem is that the errors are different on each platform and Mio make no attempt to "normalise" the errors. If you want to know about each possible error its best to read the OS manual, e.g. [`write(2)` on Linux](http://man7.org/linux/man-pages/man2/write.2.html).

[2019-09-10 18:24] cheako commented on #1081
@Thomasdezeeuw That's fine, the example I'm talking about would then be filled with platform specific blocks.  What about projects that are multi-platform that use mio, they should be good enough examples?

[2019-09-10 18:51] cheako commented on #1081
Confirmed, on Linux when connecting to 127.0.0.1 when the local port is in state closed a is writable event is sent and the resulting write() returns Broken Pipe.

[2019-09-11 09:03] Thomasdezeeuw commented on #1081
Such an example would be helpful, but it would be very difficult to get right and to maintain it. First each OS (even Unixes) use different error (kind) for the same error, for example Windows uses `ConnectionAborted` when the reading side of the peer is closed where Unix uses `BrokenPipe` as you found out, see https://github.com/tokio-rs/mio/pull/1070/files#diff-57814c10624d570cd800ed65daf96825R3

[2019-09-11 17:18] cheako commented on #1081
I understand what you are saying about different errors, because Linux has different behavior when connecting to localhost then it does when connecting to remote hosts.

I'm not saying the example has to be part of mio, but somewhere someone has to have an example, otherwise your saying no one has been able to use mio properly?

[2019-09-13 09:22] #967 closed

[2019-09-14 13:30] Thomasdezeeuw commented on #1081
You can look at Tokio, but I don't how much error handling it does (it's a framework/runtime so I can imagine it leaves that up to the user). I can't really vouch for any other crates.

I don't really understand what you mean by

Can you expand on that?

[2019-09-14 15:17] cheako commented on #1081
@Thomasdezeeuw Taking snapshots of random projects is a recipe to clone bad code and this amplifies if everyone pertakes in this bad practice.  Even though something works and even if it compiles in Rust doesn't mean something is correct.

[2019-09-16 09:16] goriunov opened #1085 "Question: mio tcp example"
Hi there, i was just reading mio tcp example which was added few days ago and was concerned / had questions  about  few things.

Does `connection.read(&mut buf) ` read till the end of available data ?  If it does then should we use `vec` to make sure we fill up whole data. And if it does not should we use loop till we read in to would_block and then move in to next available event.

Also looking a

[2019-09-16 15:29] Thomasdezeeuw commented on #1085
Read only reads the bytes available at the time of the call, limited to the size of the buffer provided (in this case `buf.len()`). That said it really should do so in a loop because we're using edge triggers (pr is welcome :)).

Not sure what you mean with this, but I just wanted to say it is possible to receive a single event with both readable and writable readiness, but I do believe it's platf

[2019-09-16 15:34] Thomasdezeeuw commented on #1081
I think in practice most errors aren't handled (properly) only the common ones, for the remainder of the errors the connection/operation is often just restarted/retried.

[2019-09-16 18:54] cheako commented on #1081
That's valid.  For a ```_ => ...``` handler in an example, a simple comment could indicate the errors typically expected on each OS and a small description of what they mean.

[2019-09-17 08:23] #1085 closed

[2019-09-17 13:29] kinnison opened #1089 "Failure to epoll() on armhf"
Hi,

I, and a friend (@cjwatson), have been trying to diagnose a problem whereby `rustup` on `armhf` is failing to connect to a web proxy when using `reqwest` which is built on `hyper` and thence `tokio` and thus `mio` ultimately.

On amd64 (x86_64) it runs perfectly well, but on armhf it sits for 30s and times out the connect.

By stracing the entire build, eventually we were able to find the fol

[2019-09-17 14:51] Thomasdezeeuw commented on #1089
Some preliminary findings:

The problem code seems to be (around) here: https://github.com/seanmonstar/reqwest/blob/45f67c1dccf30ed82d172e31e5dc6ef2b7acf2ea/src/client.rs#L634-L669. The `ClientHandle` struct has a timeout field which defaults to 30 seconds (which matches the futex wait).

Mio doesn't use any Futexes, so it's likely coming from: https://github.com/seanmonstar/reqwest/blob/45f67c1dc

[2019-09-17 19:17] kinnison commented on #1089
Thank you @Thomasdezeeuw for that analysis.  I agree that reqwest probably is what is introducing the 30s timeout -- Given reqwest's implementation of waiting, could it simply be that on armhf there are insufficient threads in the worker pool so none of the futures/connections can make progress?  If so, I suppose I ought to reassign this to reqwest.

[2019-09-18 08:55] Thomasdezeeuw commented on #1089
Maybe, but I don't know for sure. It could really help if you can determine how long the call to `epoll_ctl` takes, because if we're calling that for 30 minutes it might even be a bug in Linux.

[2019-09-18 08:58] kinnison commented on #1089
I've asked the person who made the straces if they can do another with extra timing data, but if the epoll_ctl() was stuck, I'd expect to see it `...unfinished` when the futex returned.  My guess is that it completed fairly quickly and then the epoll was never waited on.

[2019-09-18 12:45] kinnison commented on #1089
@Thomasdezeeuw From another run, that `epoll_ctl()` takes no time at all:

[code]

So it's got to be something other than that getting stuck

[2019-09-18 12:45] kinnison commented on #1089
[buildlog_snap_ubuntu_bionic_armhf_rust-snap-test_BUILDING-with-timing.txt.gz](https://github.com/tokio-rs/mio/files/3626424/buildlog_snap_ubuntu_bionic_armhf_rust-snap-test_BUILDING-with-timing.txt.gz)

[2019-09-18 14:05] Thomasdezeeuw commented on #1089
I don't think this a problem with Mio then. It think it somewhere between reqwest and Tokio, maybe how one uses the API of the other (is reqwest driving Tokio's reactor in some way?). I would normally expect an `epoll_wait` (from `Poll::poll`) call, but that is nowhere in the trace. I can't tell where this is going wrong nor do I understand why this is only a problem on armhf.

[2019-09-18 14:09] kinnison commented on #1089
Thanks for your time then, I'll try attacking this from the reqwest side of things.

[2019-09-18 14:09] #1089 closed

[2019-09-22 22:43] reiver-dev opened #1092 "Waker pipe sets CLOEXEC with F_SETFL when pipe2 is unavailable."
Version: 0.6.19

sys/unix/mod.rs
[code]

However then mio sets flags using F_SETFL, which result in CLOEXEC missed.

[code]
epoll fd has correct flag, pipe fds will be inherited after exec

(seems to be not an issue in 0.7 due to use of eventfd)

[2019-09-23 19:10] ZakisM opened #1093 "TcpStream always blocks on Windows but not on Linux"
Tested on both Windows 10/Windows 7:

[Playground Code](https://gist.github.com/rust-play/0dd3c6c1067a64f6f83ca309bb94595f)

Windows output after 5 attempts:

CLIENT (receiver): event=Event { kind: Ready {Readable}, token: Token(0) }
CLIENT (receiver): spurious event, ignoring
CLIENT (receiver): event=Event { kind: Ready {Readable}, token: Token(0) }
CLIENT (receiver): spurious event, ignoring
CLI

[2019-09-23 19:12] carllerche commented on #1093
cc @PerfectLaugh

[2019-09-24 13:06] Thomasdezeeuw commented on #1092
Can you provide some code that show how you got these results? Because I can't find the code that resets the flags in Mio.

[2019-09-24 14:01] reiver-dev commented on #1092
branch: v0.6.x
path: sys/unix/mod.rs
line: 47

[code]

[2019-09-24 14:48] Thomasdezeeuw commented on #1092
I got that, but it sets both the `O_CLOEXEC` flag in both cases, so I don't see the problem.

[2019-09-24 19:05] reiver-dev commented on #1092
F_SETFL does not accept O_CLOEXEC on linux
https://github.com/tokio-rs/mio/pull/596

[2019-09-25 08:58] Thomasdezeeuw commented on #1092
Ah now I understand. Bit silly that Linux doesn't complain about anything and mixes `F_` constants with `O_`, but fine. I'll send a pr.

[2019-09-27 14:33] Thomasdezeeuw commented on #1082
Closing this as it seems there is nothing to do.

[2019-09-27 14:33] #1082 closed

[2019-09-27 14:35] Thomasdezeeuw commented on #1081
Closing this as error handling needs to be done per type and per OS, which is a little outside the scope of Mio.

[2019-09-27 14:35] #1081 closed

[2019-10-06 08:44] Thomasdezeeuw commented on #977
`udp_peer_addr` was just stabilised in 1.40 (https://github.com/rust-lang/rust/pull/64728, https://github.com/rust-lang/rust/issues/59127). I'm ok with targeting 1.40 as async also didn't make it into 1.39.

[2019-10-14 03:39] jmesmon commented on #788
Can you clarify what is meant here? epoll is defined with a `u64` `epoll_event.data` element regardless of platform width. Is this referring to something other than the `epoll_event.data` element?

[2019-10-15 12:17] Thomasdezeeuw opened #1100 "Use Rustup profiles in CI"
Rustup 1.20 was released (https://blog.rust-lang.org/2019/10/15/Rustup-1.20.0.html) which includes support for profiles. It includes a minimal profile which should be used in CI environments to reduce the amount of stuff downloaded by rustup. Could possibly fix #1044.

[2019-10-16 08:36] glelk opened #1101 "UnixListener::bind drops last letter in file name"
UnixListener::bind drops last letter in file name, as in the code below:

[code]

I suspect it happens in `socket_addr` function:
https://github.com/tokio-rs/mio/blob/9fe594eae1b92ad1d045c1456cc3d608b0ca7689/src/sys/unix/uds/mod.rs#L16

[2019-10-16 12:14] glelk commented on #1101
I guess I found where the bug is:
https://github.com/tokio-rs/mio/blob/9fe594eae1b92ad1d045c1456cc3d608b0ca7689/src/sys/unix/uds/mod.rs#L53-L58

should be
[code]

[2019-10-16 12:42] Thomasdezeeuw commented on #1101
@glelk are you willing to send a pr to fix it?

[2019-10-16 13:20] glelk commented on #1101
Sure!

[2019-10-16 13:20] #1101 closed

[2019-10-19 12:34] quininer commented on #923
I implemented [a simple POC](https://github.com/quininer/mio/commit/069b37cf35c3e3928d68e951856725f91154b73e). It does not use `io-uring` to do IO, but just poll.

[2019-10-19 18:59] JuSiZeLa commented on #1079
The test is failing when the `set_nodelay` function is called on a socket which is not connected yet. All calls to `setsockopt` while the socket is not connected yet are going to fail.

[2019-10-20 09:54] JuSiZeLa opened #1106 "Poll function on Windows always returns after timeout expiration"
Version: master
The polling function on Windows always returns after the timeout expiration even if some events have been received

[2019-10-20 10:34] Thomasdezeeuw commented on #1106
@PerfectLaugh can you look at this?

[2019-10-20 10:35] Thomasdezeeuw commented on #1079
Fixed in #1105.

[2019-10-20 10:35] #1079 closed

[2019-10-24 05:24] ccc13 opened #1108 "Comment typo"
Position: https://github.com/tokio-rs/mio/blob/c7bfba3f79665ec8414850f383feea54815917ff/src/waker.rs#L66

It seems like

should be

[2019-10-29 11:08] Thomasdezeeuw opened #1114 "Move UDS types to unix module"
Currently the UDS types (`UnixDatagram`, `UnixListener`, `UnixStream`) currently live in the net module, but they are Unix only. Shouldn't these live in the unix module (following what std lib does)? Or perhaps in `mio::unix::net`.

If Windows (or more platforms) ever get support for them we can always moves them, leaving alias in the unix module.

/cc @kleimkuhler

[2019-10-29 13:57] DoumanAsh commented on #1114
JFYI some newer versions of Win10 supports it

[2019-10-29 14:27] Thomasdezeeuw commented on #1114
Good to know, but Mio doesn't (yet) support them.

[2019-10-29 18:35] #1100 closed

[2019-10-30 11:20] Thomasdezeeuw commented on #1035
Done in #1067.

[2019-10-30 11:20] #1035 closed

[2019-10-30 14:22] dtacalau opened #1117 "tcp_stream test fails with TcpStream::set_ttl crash"
Problem:
When running the unit tests on Windows 8.1 Pro, tcp_stream ttl test crash in TcpStrea::set_ttl :
[code]

Cause:
According to @PerfectLaugh:
[code]

Solution:
?

[2019-10-30 15:07] dtacalau commented on #1117
Not sure if documenting is enough, someone might miss reading the docs, also there might be APIs sensitive to connect status on other platforms too. In my case, the crash was not always reproducing, if I enabled/disabled other tests from the same test file.

Maybe implement support in mio for checking if a stream is connected? Or even better, have the APIs sensitive to connect status, to check for

[2019-10-30 17:40] carllerche opened #1118 "RFC: default features is API core only, require feature flags for tcp, udp, uds and OS selector"
## Goal

Mio should be as light as possible and be forwards compatible to other non-blocking I/O strategies, such as userland sockets via DPDK.

## Proposal

By default, the Mio crate would be an API only shim. Types such as `Poll`, `Events`, etc would be present, but would be shims only. Attempting to use them would result in a panic. TCP, UDP, and UDS types would not be present by default and wo

[2019-10-30 20:58] carllerche commented on #1114
I believe that keeping platform specific types in separate modules & trait extensions has been considered a ["mistake"][1]. Instead, types should just be where they make natural sense and use feature flags to enable / disable.

So i would recommend to follow this guidance.

[1]: https://aturon.github.io/tech/2018/02/06/portability-vision/

[2019-10-31 18:08] dtacalau commented on #1074
I've modified try_clone_different_poll test to the simplest form that is still failing: one poll, one listener, two streams.

Problem:
The test below fails on the second  expect_events assert. If I enable the "reregister", after the second stream is started, the test won't fail.
[code]

Cause:
The test fails because, on Windows, mio simulates Edge-triggered behavior, the interests are removed afte

[2019-10-31 21:35] dtacalau commented on #1117
@Thomasdezeeuw please set windows flag on this issue

[2019-10-31 21:38] dtacalau commented on #1041
@Thomasdezeeuw I'll start working on this issue, please assign it to me.

[2019-11-01 05:00] carllerche commented on #977
I'm pretty sure async / await is landing as part of 1.39.

[2019-11-01 10:02] Thomasdezeeuw commented on #1117
I don't entirely agree with documenting is not enough, although an API that can't be misused would be better, documentation is sometimes simply the best we can do without introducing overhead.

How do propose we do this, without introducing (too much) overhead?

If I remember correctly somewhere, at some point, Mio documentation said that `Evented` types (now `event::Source`) were only available (

[2019-11-01 10:21] Thomasdezeeuw commented on #1074
@dtacalau thanks for looking into this. Can you see if https://github.com/tokio-rs/mio/pull/1112 changes anything? And if not, can you also try with the following patch applied:

[code]

@PerfectLaugh mentioned in the pr that it might be needed to reregister interests when the operation succeeded here: https://github.com/tokio-rs/mio/pull/1112#discussion_r340302964, but then the CI failed. So mayb

[2019-11-01 10:27] Thomasdezeeuw commented on #1114
@carllerche the blog post makes a lot of good points, I'm ok with leaving it the net module. Do you want to the same for `SourceFd` (and possible future Windows counterpart)? I'm not sure where they would move to though.

Also should more documentation be added that they're Unix only, I know the name suggests it but still. The API in the standard library have a clear blue box, e.g. see https://doc

[2019-11-01 14:21] dtacalau commented on #1117
@Thomasdezeeuw thinking out loud here, on Linux you are allowed to call setsockopt w/ IP_TTL before connect, while on Windows set_ttl requires the socket to be connected. An application using mio interface set_ttl would have to have a different implementation for Linux and Windows, maybe we don't want that, not sure if this is a design goal of mio. Otherwise, just documenting it seem reasonable AT

[2019-11-01 14:34] MOZGIII commented on #977
Fun fact: at my project we changed the networking logic and we don't need this API anymore. Not that it should't be there, but the adoption sure is slow. :smile:

[2019-11-01 15:57] dtacalau commented on #1074
@Thomasdezeeuw  I've checked try_clone tests using the windows cleanup branch https://github.com/Thomasdezeeuw/mio/tree/win-cleanup, and I got same results, tests still fail in the same way as in my previous comment. If I use reregister before the second expect_events test will not fail.

It stil fails using the patch on your branch. So, same behavior as above.

That was my conclusion too, using r

[2019-11-01 16:00] Thomasdezeeuw commented on #1074
The patch in the comment https://github.com/tokio-rs/mio/issues/1074#issuecomment-548738990 is not the pr #1112 because it caused the CI to fail. But I didn't check what tests failed, so I speculated that maybe only the `TcpListener` needed to reregister on a successful I/O operation (mainly accept), while for other types this would result in an error.

[2019-11-01 16:10] Thomasdezeeuw commented on #1117
@dtacalau Mio is currently missing benchmarks, in the v0.6 -> v0.7 transition a lot of the API changed, but its something to add again after initial v0.7 release.

As for keep track of whether or not the stream is connected; that would require (at least) a boolean value. But if we document that the `TcpStream` is only ready after an initial read/writable event has been received (pretending it does

[2019-11-01 22:13] dtacalau commented on #1117
@Thomasdezeeuw not sure if it's possible to pretend stream is only ready after an initial read/writable event has been received on all mio supported platforms. What if mio will need to offer interface for setting a socket option which requires a not connected stream, the exact opposite of set_ttl. That's why I'm thinking it is safer to handle the issue per specific option, depending on the option

[2019-11-01 22:17] dtacalau commented on #1117
@Thomasdezeeuw I could also implement some benchmarks and have the CI running them along with the rest of the tests (or ressurect old benchmarks). Let me know what you think!

[2019-11-04 17:09] dtacalau commented on #1117
@Thomasdezeeuw to wrap up our discussion: I've commited a fix for the set_ttl test, but not really satisfied with the fix (since this is only a Windows limitation, other platforms would not need the extra register and wait).

Would like to know your thoughts on my ideas above: benchmarks, adding a new CONFIGURABLE interest. Thanks!

[2019-11-04 17:43] Thomasdezeeuw commented on #1117
This this is more or less the best we can do without introducing overhead elsewhere, if you're talking about registering before calling `set_ttl` as done in #1120. Personally I'm OK with that since most, if not all, use cases involve registering the stream at some point.

I not really in favour of a configurable interest because I wouldn't know that would be? I think it would just be another name

[2019-11-05 23:47] carllerche opened #1122 "Reconsider `transparent` on `Event`"
I'm mostly opening this issue as I'm not sure what the benefit of having `transparent` on `Event` is. It may be that I am blind, but I thought I would open the issue instead of forgetting to ask :)

[2019-11-06 15:19] dtacalau opened #1126 "TcpListener::accept won't generate READABLE w/o reregistering the interests before poll"
This is about reregistering on successful operations on Windows. So far it has been mentioned here https://github.com/tokio-rs/mio/issues/1074#issuecomment-548501031 and here https://github.com/tokio-rs/mio/pull/1112#discussion_r340302964 .

I'd like to have this tracked separately, because it fixes some tests but not all.

Problem:
The test below fails on the second expect_events assert. If I ena

[2019-11-06 15:49] dtacalau commented on #1074
@Thomasdezeeuw  I made a confusion here https://github.com/tokio-rs/mio/issues/1074#issuecomment-548842444 when verifying your patch with reregistering. I've checked the patch with test TcpListener::try_clone but not with my simpler test https://github.com/tokio-rs/mio/issues/1074#issuecomment-54850103.

I've rechecked, so, with the reregistering patch my test passes while the TcpListener::try_clo

[2019-11-06 16:32] Thomasdezeeuw commented on #1122
I think I added this because at some point we did `&Event as *const Event as *const libc::kevent`, which needed the transparent attribute. But I don't think we need it any more.

[2019-11-06 17:53] carllerche commented on #1117
We should make the test work in windows or make the API a *nix only API IMO.

I think we can make this work in windows by storing the `ttl` on the internal state until we detect the socket is connected, then apply it then. @Thomasdezeeuw wdyt?

[2019-11-06 18:46] Thomasdezeeuw commented on #1117
After 60bf56b this works on Windows, but it does require the user to receive an event for it first. Do mean that calling `set_ttl` should work without waiting for an event?

[2019-11-07 15:15] arsing commented on #1114
(UDS support on Windows previously discussed in https://github.com/tokio-rs/mio/issues/880 )

[2019-11-07 15:46] dtacalau commented on #1074
@Thomasdezeeuw could you point me to a use case for TcpListener::try_clone method, so I could understand how is this method expected to be used and why is it needed? Thanks.

[2019-11-07 16:12] Thomasdezeeuw commented on #1074
I've used `TcpListener::try_clone` is the past to split accepting connections to different threads. For example when binding to a port it's not possible to bind to it again (without reuse_address/reuse_port options), so cloning/duplicating the socket is an easy way to accept connections from multiple threads.

[2019-11-07 19:48] Thomasdezeeuw opened #1128 "Remove unneeded calls to `update_sockets_events`"
Just so it does get lost: https://github.com/tokio-rs/mio/commit/78f36941ea3c8287417bbbb788c155a5b85e1c61#commitcomment-35854690.

[2019-11-07 22:30] dtacalau commented on #1073
@Thomasdezeeuw please assign this issue to me, I've started working on it.

[2019-11-07 22:35] dtacalau commented on #1117
@carllerche atm the ttl test works on windows, also nodelay tests work (they were similar issues).
@Thomasdezeeuw MarkLivs from windows networking started looking into this. I'd leave this issue open a little longer to get his feedback. He replied to me on mio channel saying he was not able to reproduce it and asking for repro steps.

[2019-11-07 22:37] dtacalau commented on #1078
@Thomasdezeeuw could you please assign this issue to me. I've started working on it.

[2019-11-07 22:39] dtacalau commented on #1080
@Thomasdezeeuw could you please assign this issue to me. I've started working on it.

[2019-11-08 14:25] dtacalau opened #1131 "Edge-triggered behaviour is broken for Windows poll"
Mio tests expect Windows poll to be ET, but it's not, this  is the cause of many test failures on Windows. I want to have a place to discuss ways to fix this away from other issues which may cause specific tests to fail.

So far we have the following data:
1. a TcpListener::accept won't trigger READABLE event, issue #1126
2. a TcpStream::write done after a TcpStream::read which emptied the sock bu

[2019-11-08 14:38] dtacalau commented on #1078
Tests fail because of issue described here #1131, we need to reregister the interests after TcpStream::read which emptied the sock bufffer.

[2019-11-08 14:38] dtacalau commented on #1080
Tests fail because of issue described here #1131, we need to reregister the interests after a read which emptied the sock bufffer.

[2019-11-08 16:19] dtacalau commented on #1073
Deregistering did not worked for TcpListener, TcpStream, UdpSocket but the error was not caught everywhere. To fix this the socket state should be marked for deletion upon deregistering so it cannot be used in any subsequent poll updates.

[2019-11-08 20:16] Thomasdezeeuw commented on #1131
I think I mentioned this already on one of the issues; I think we way to fix this is to reregister after an I/O operation if:
* We hit a would-block error (already happens).
* We exhausted the I/O operations, e.g. in case of a read: `bytes_read <= buf.len()`.

[2019-11-08 20:17] Thomasdezeeuw commented on #1131
@dtacalau what do you think? I might same some time to try this later tonight.

[2019-11-08 20:32] dtacalau commented on #1131
@Thomasdezeeuw yes you did mention it, I also had 3 failing tests affected by it, wanted to have it all in one place. So, taking them one by one:
- OK with hit a would-block error;
- OK with checking condition in case of a read: ```bytes_read <= buf.len().``` I didn't get it initially, that's why I was suggesting an additional peek.
- What about write? would ```bytes_written <= buf.len()``` work?

[2019-11-08 21:03] Thomasdezeeuw opened #1136 "Usage of Intra Rustdoc Links"
In https://github.com/tokio-rs/mio/pull/1132 I tried using Intra Rustdoc links and found out that it's currently a nightly only feature. In the future we want to use the feature, but for now we need to ensure that the docs build correctly on docs.rs before v0.7 is released.

Currently a mix of old (regular) links and intra doc links are used.

Intra doc link allow use to link to type, e.g. ```[`To

[2019-11-08 21:21] #1073 closed

[2019-11-08 21:24] Thomasdezeeuw commented on #1131
I think/hope so, but I haven't tried.

That would emulate level-triggers, but that isn't necessarily a bad thing. Let's hold off on this change, I'll do some experimentation as see what I can get to work.

[2019-11-11 14:57] dtacalau commented on #1074
On Windows, try_clone seems to be broken for TcpListener, TcpStream, maybe UDP, because a new clone will use a new SockState, so, with the current implementation, there can't be any relation between parent SockState and the clone SockState. With the current impl polling over clones will not work as expected, this doesn't seem an easy fix.

We've discussed about try_clone on Discord and the conclus

[2019-11-11 14:59] dtacalau commented on #1126
Note to self: revisit this after https://github.com/tokio-rs/mio/pull/1137 has been merged.

[2019-11-12 04:15] #1128 closed

[2019-11-12 11:29] Thomasdezeeuw opened #1144 "CI failure"
Pr #1137 only changed Windows code, but there was a failure on Linux: https://dev.azure.com/tokio-rs/Tokio/_build/results?buildId=3285&view=logs&jobId=1d2caa1b-9eda-5fa9-8065-e707e1f1df39&taskId=bbcfb676-a49d-595b-00f6-25d1a1fa4bb4&lineStart=183&lineEnd=183&colStart=6&colEnd=36.

Log of the failure:

[code]

[2019-11-12 22:39] dtacalau opened #1146 "Windows mio leaks memory when poll does not retrieve any event"
Steps to reproduce:
1. Simplify test smoke_test_tcp_listener from tcp_listener.rs, to just register a  listener and do poll without connecting any stream:
[code]

2. Run this test under drmemory Windows profiler and leak detector.
3. Profiler reports a memory leak:
[code]

[2019-11-13 12:38] Thomasdezeeuw opened #1148 "Investige peek failure on Windows"
Surfaced in https://github.com/tokio-rs/mio/pull/1137. Only log available:

[code]

[2019-11-13 12:38] Thomasdezeeuw commented on #1148
@dtacalau do you have time to look into this?

[2019-11-13 12:43] Thomasdezeeuw commented on #1049
Moving to v1.0

[2019-11-13 12:47] Thomasdezeeuw commented on #1064
@kleimkuhler I believe you ported Tokio to Mio 0.7, what do you think about the change?

[2019-11-13 12:49] Thomasdezeeuw commented on #1114
Not doing this, leaving the UDS types in the net module.

[2019-11-13 12:49] #1114 closed

[2019-11-13 12:50] Thomasdezeeuw commented on #788
@carllerche is this something you still want to do? Because I'm thinking about putting pointers in `Token` and that wouldn't be possible any more. Same for #996.

[2019-11-13 14:19] dtacalau commented on #1148
@Thomasdezeeuw , of cpurse, please assign this issue to me.

[2019-11-13 15:48] dtacalau commented on #1148
@Thomasdezeeuw can't reproduce this issue on my machine anymore, peek test is always successful. I don't know what has changed. I even rebooted my machine couple of times and retested but w/o success.

Here's how I've tried to reproduce it:
- fetch your branch Thomasdezeeuw/win-tcpstream, enable peek test, run test -> does not reproduce;
- cherry-pick the commit from your branch to latest master -

[2019-11-13 15:49] dtacalau commented on #1148
Interesting read https://support.microsoft.com/en-us/help/192599/info-avoid-data-peeking-in-winsock

[2019-11-13 17:54] carllerche commented on #788
It should still be possible. Pointers are (usually) aligned, so you can pack data in it.

If it were me, i would probably reserve 1 bit for forwards compat, but I'll leave it up to you.

[2019-11-14 10:50] dtacalau opened #1150 "Multiple mio tests leak memory on Windows"
The following test suites leak memory when run under drmemory:
- close_on_drop
- tcp_stream
- poll
- tcp
- registering
- tcp_listener
- udp_socket

To run a test suite under drmemory, for instance for `registering.rs`:
[code]

drmemory will report direct and possible leaks:
[code]

These leaks seem to appear in different scenarios than the one reported here #1146:

We need to revisit these after f

[2019-11-14 10:56] dtacalau opened #1151 "Investigate `UNINITIALIZED READ` errors reported by profiler on Windows"
When running mio tests under drmemory profiler, it reports lots of `UNINITIALIZED READ` errors. Not sure if these are false positives or not.

To reproduce run:
[code]

Result, lots of errors like the one below:
[code]

There are multiple different errors reported, not the same uninitalized error, here's the profiler stats for registering tests:
[code]

[2019-11-14 11:36] dtacalau commented on #1117
Mark from the Windows core networking team offered to help investigating this issue. Will keep this issue updated with the progress done and other interesting facts:
 Mark was unable to reproduce it: "I've been working on reproing the TTL issue you mentioned, and I'm having some trouble doing so. I tried setting + getting the option on client and server TCP AF_INET sockets before any connection at

[2019-11-15 13:42] psumbera opened #1152 "Port to Solaris"
Currently mio is using for Solaris epoll interface. But Solaris doesn't have this interface. Only Illumos has it.

There are two things to be done:
- To distinguish between Solaris and Illumos.
- Implement selector on Solaris (probably via even ports API)

[2019-11-15 15:03] dtacalau commented on #1106
@Thomasdezeeuw please assign this to me, thanks!

[2019-11-15 15:03] dtacalau commented on #1126
@Thomasdezeeuw please assign this to me, thanks!

[2019-11-15 23:06] kleimkuhler commented on #1064
Tokio's use of Mio doesn't seem to affected by this from what I can tell. My fork of Mio has a [branch](https://github.com/kleimkuhler/mio/tree/kleimkuhler/issue-1064) that makes this change, and my fork of Tokio has a [commit](https://github.com/kleimkuhler/tokio/commit/6929b5aeeafd262b4dc125f70404299819c08e39) that uses this change. The latest commit is the one change required.

The changes are

[2019-11-15 23:42] MarkLivsc commented on #1117
Carl and I are continuing to investigate this issue. Some other findings include that running the test in isolation, and running the test with --test-threads 1 makes the repro go away. However, putting a 2 second sleep in the server thread with multi-threading enabled makes the repro 100%. Carl identified what looks like uninitialized reads using Dr Memory. So, overall the investigation is ongoing

[2019-11-16 11:19] Thomasdezeeuw commented on #1152
So you're saying that the Solaris port never worked?

@psumbera do you use Solaris and are you willing to contribute such a port? Otherwise we maybe should just drop support for Solaris if it never worked in the first place.

/cc @carllerche

[2019-11-16 15:43] carllerche commented on #1152
Well, we need some way to test it in CI... none of the mio devs have a solaris setup.

[2019-11-17 16:45] dtacalau commented on #1148
@Thomasdezeeuw, since I cant reproduce this localy, next stepwould be for me to add couple of println!, run the test again on CI, and see where it blocks. Could we change the settings and have the CI run tests with " --nocapture     don't capture stdout/stderr of each task, allow printing directly"?

[2019-11-18 07:54] psumbera commented on #1152
Mio is used by Rust. And Solaris really needs Rust to build Firefox. From Rust version 1.38 something changed and it now fails to link on Solaris because of this issue (though I know Mio was used also with previous Rust versions without the issue).

I'm Solaris engineer so I have access to Solaris. Unfortunately I'm not very good with Rust. But anyway I will try to come with something or will seek

[2019-11-18 09:19] Thomasdezeeuw commented on #1152
Can you try testing Mio (by running `cargo test`) and give us an output of the error, then we can try and fix it.

Also could you help with setting up the CI for Solaris? Going forward we would like to a bit stricter about what platforms we support and having a CI for it is one of them.

[2019-11-18 09:29] Thomasdezeeuw commented on #1148
I think you can add `-- --nocapture` to the end of https://github.com/tokio-rs/mio/blob/ff1b9f27ee53f9b86aff4ba11f513b54913bfbe6/ci/azure-test-stable.yml#L29, then it will work on the CI.

[2019-11-18 09:29] #1122 closed

[2019-11-18 09:42] psumbera commented on #1152
[code]

I'm trying to add 'src/sys/unix/selector/evport.rs' which would add support via Solaris even ports API.

My question is also whether it wouldn't be enough to add support for other platforms via select()?

This is different problem we are aware of. As for Solaris right now there is for free available only old image of Solaris 11.4. So if you have virtual environment where to run it (e.g. Vi

[2019-11-18 10:02] Thomasdezeeuw commented on #1152
I think the problem is that [rust's  libc wrapper](https://github.com/rust-lang/libc) has the `epoll` function defined here: https://github.com/rust-lang/libc/blob/bf877ba7123d8d1f990b70a8dda306942c9a93b0/src/unix/solarish/mod.rs#L2171-L2196. So currently Mio builds against these functions, but as you said (and comment in the libc code) these aren't present.

If you remove `target_os = solaris` fr

[2019-11-18 11:15] dtacalau commented on #1148
@Thomasdezeeuw ok, will try that, thanks!

[2019-11-18 14:29] dtacalau commented on #1148
@Thomasdezeeuw
Doesn't seem to reproduce on CI anymore, have a look at PR #1156. I've tried with "--nocapture" enabled and without it, in both cases peek test works fine.

Could you trigger another CI build/test on your branch, to see what happens?

[2019-11-18 15:05] psumbera commented on #1152
I have started my work (see here):
https://github.com/psumbera/mio/commit/f6284afe1753b2c23c07d5dd374a969e2f096b82

But now I'm getting:
[code]

Any idea about this one? Thank you!

[2019-11-18 16:24] Thomasdezeeuw commented on #1152
I guess `port_event` contains a `*mut c_void` field? In rust raw pointers don't implement the `Send` trait, which is the trait that defines that a type may be send across threads. You'll need to define your own `Event` type that wraps the `port_event` type and implement `Send` and `Sync` on it:

[code]

Note however you must manually ensure that the `libc::port_event` may be send over thread bound

[2019-11-19 11:25] psumbera commented on #1152
You are right:

[code]
```portev_user``` are user data. It doesn't have to be pointer (man page says: "user defined cookie"). It's set via port_associate(). I do set there ```token```. Is that right?

I tried quick hack by modifying it to ```::c_ulong``` in libc rust wrapper and now I get only following error:

[code]
Any clue?

Sorry I'm no good enough with Rust yet. I tried:

[code]

And I get n

[2019-11-19 12:20] Thomasdezeeuw commented on #1152
Yes then it means you can implement `Send` for it and it can be used in `Token`.

My guess it that you're using an older rust compiler version. Can you update to a newer version? Preferably 1.39. If not you can change those constants to literal values (that of the length of `DATA1`) for the time being.

The first problem is that now we're using different types. `port_getn` expects a pointer to an

[2019-11-19 14:22] psumbera commented on #1152
Ok. With my modification for Rust libc: ```port_event``` item ```portev_user``` ```*mut ::c_void``` to ```::c_ulong```

and
[code]

I have following test failures:

[code]

[2019-11-19 14:56] Thomasdezeeuw commented on #1152
If you add `RUST_BACKTRACE=1` (or `full`) to the env vars it logs a backtrace of the error. To run a single test you can add the test name after the command, for example `RUST_BACKTRACE=1 cargo test add_then_drop`.

For the error itself, I don't know what the source could be. It seems specific to the Solaris port though, as I've never seen the error for Mio before.

Also if you can't find the sour

[2019-11-19 18:29] khionu opened #1157 "Update documentation for `TcpStream::connect_stream`"
[Currently, the docs](https://docs.rs/mio/0.6.19/mio/net/struct.TcpStream.html#method.connect_stream) reflect older API.

[2019-11-19 18:48] Thomasdezeeuw commented on #1157
@khionu would you like to contribute a change?

[2019-11-19 20:52] khionu commented on #1157
If I understood the semantics of the difference between the docs and how the code behaves now, I would, but I'd have to guess. I'm just barely learning mio for the first time.

[2019-11-20 14:30] psumbera commented on #1152
I resolved the issue with 'add_then_drop' like this:
https://github.com/psumbera/mio/commit/e67a3da1f92cb9ad778d96fbb76eb7eda78dd7f0

But now I'm puzzled with 'register_deregister' test. port_dissociate() returns ENOENT at the end. The issue seems to be that I need to re-associate fd every time I get event for it from port_getn(). Man page says:

[code]

And I don't do it now. Isn't this needed fo

[2019-11-20 14:44] Thomasdezeeuw commented on #1152
On `epoll` the registration is kept alive (kernel side) even when an event is delivered. It seems that ports doesn't do that. So you would have to reregister after each event to simulate level triggers, or after an operation returned would block or didn't fill a buffer to simulate edge trigger (default in Mio). We currently face a similar problem on Windows.

For now; on each I/O operation, e.g. `

[2019-11-20 16:08] dtacalau commented on #1093
This issue has the same cause as #1126. I've just checked this with PR#1127 and does not reproduce, Windows output looks fine.

The test program used to reproduce the issue, updated to work on latest master.
[main.zip](https://github.com/tokio-rs/mio/files/3870151/main.zip)

Output when testing the server with curl:
[code]

[2019-11-20 16:10] dtacalau commented on #1093
@Thomasdezeeuw please assing this issue to me, thanks!

[2019-11-21 12:28] psumbera commented on #1152
How should I do it? Are there some mio `read` and `write` function I can modify?

[2019-11-21 12:37] Thomasdezeeuw commented on #1152
I'm afraid you'll need to manually change all methods of `sys::unix::TcpStream`, `sys::unix::TcpListener`, etc.

[2019-11-21 13:01] psumbera commented on #1152
Ok.

There might be also possibility to use poll(7d):
https://docs.oracle.com/cd/E19253-01/816-5177/6mbbc4g9n/index.html

I will have look at it. Thank you!

[2019-11-21 13:45] Thomasdezeeuw commented on #1152
That contains a note:

It seems to be deprecated and soon to be removed, so let's not depend on that.

[2019-11-21 14:23] psumbera commented on #1152
As a insider I don't think it will be removed anytime soon... In fact Illuomos epoll interface is using it:
https://git.wegmueller.it/Illumos/illumos-joyent/commit/a5eb7107f06a6e23e8e77e8d3a84c1ff90a73ac6

BTW. How can open and write into the file using libc functions in Rust?

[2019-11-21 17:41] Thomasdezeeuw commented on #1152
I see... then I think we could consider it.

All libc functions are exported in the `libc` crate (docs: https://docs.rs/libc/0.2.65/libc). So open would be `libc::open(..)`, read `libc::read(..)` etc. If you can however just use the `std::fs::File` type which is a safe wrapper around a file descriptor on Unix.

[2019-11-21 22:23] stevenroose opened #1158 "Add a way to wake up a poll manually OR wake up poll when interests changed in the registry"
Consider the situation where you have a TcpStream and a queue of messages to be written. You start with a Poll where you're only interested in READABLE events, because there is nothing to be written. Now, once you have a message to send, you want to write it on the stream. Imagine that you want a single thread, the one using the Poll, to do both the reading and writing.

Right after adding a messa

[2019-11-21 22:27] stevenroose opened #1159 "DOC BUG + no way to inspect the number of events returned by Poll"
The doc on `Poll::poll` says:
[code]
This is no longer the case as `Poll::poll` returns a `Result<()>` now.

Also, `Events` doesn't have a `len` or `size` inspector, so it's impossible to know the number of events without counting the number of items iterated.

[2019-11-21 22:39] stevenroose commented on #996
I'd also appreciate a better conversion towards the inner usize. Currently I'm doing `usize::from(token)`.

[2019-11-22 10:18] psumbera commented on #1152
Sorry, I don't seem to be able even open file...

[code]
Also not sure where is open defined. Is it here?
https://github.com/rust-lang/libc/blob/77aa3e536811dcb3a379174f8ff41d49acb36f87/src/unix/mod.rs#L699
(seems to be for macos?)

[2019-11-22 10:24] Thomasdezeeuw commented on #1152
That is because in C a str is just a pointer to a slice of `char`s (`i8` here). In rust a `&str` is a slice of valid UTF-8 characters, that is Rust's  `char` (which is not the same as C's `char`).

Easiest way around it is using `File`.
[code]

[2019-11-22 10:25] Thomasdezeeuw commented on #996
@stevenroose what is wrong with `token.0`? The inner `usize` is public.

[2019-11-22 10:26] Thomasdezeeuw commented on #1159
You're right the doc needs to be updated. Code here: https://github.com/tokio-rs/mio/blob/ac0515cc9519f228d39bb0d9055955faf7f75f34/src/poll.rs#L290-L295

[2019-11-22 10:29] Thomasdezeeuw commented on #1159
As for actually getting the number of events; it was decided against adding `ExactSizeIterator` in #1023.

[2019-11-22 10:30] Thomasdezeeuw commented on #1158
Do you mean the `Waker` type?

[2019-11-22 10:33] Thomasdezeeuw commented on #1157
In 0.7 this method is removed so I move it the the 0.6 milestone.

[2019-11-22 10:35] #1106 closed

[2019-11-22 10:38] #1126 closed

[2019-11-22 11:26] stevenroose commented on #996
Oh, I didn't notice that. That's not very commit. But yeah now that you say so, I do use the `Token(x)` constructor. Cool, thanks.

[2019-11-22 11:30] stevenroose commented on #1159
@Thomasdezeeuw How about an `is_empty`? That at least allows callers to suspect if the poll ended because of a timeout instead of because of an event.

[2019-11-22 11:31] stevenroose commented on #1158
Ah cool! Exactly what I needed! I tried implementing `Source` myself at some point, but it relies on epoll signals so it's not possible. Thanks!

[2019-11-22 11:31] #1158 closed

[2019-11-22 11:35] Thomasdezeeuw commented on #1159
Seems reasonable: https://github.com/tokio-rs/mio/blob/7a073b62e5a4609ba491e63a4b25d0f1ef65d3ce/src/event/events.rs#L108-L120 :)

[2019-11-22 11:47] Thomasdezeeuw commented on #1158
@stevenroose `AsRawFd` is implemented for `Poll` (https://github.com/tokio-rs/mio/blob/7a073b62e5a4609ba491e63a4b25d0f1ef65d3ce/src/poll.rs#L382-L387). So you can get access to the underlying file descriptor of `epoll`.

[2019-11-22 11:57] Thomasdezeeuw commented on #1148
Haven't been able to reproduce this, seems like a fluke. Closing.

[2019-11-22 11:57] #1148 closed

[2019-11-22 11:59] Thomasdezeeuw commented on #1159
@stevenroose is the `Event::is_empty` good enough for you? Can this issue be closed?

[2019-11-22 14:38] Thomasdezeeuw commented on #1093
This should be fixed in #1127, @ZakisM can you confirm?

[2019-11-22 15:11] ZakisM commented on #1093
Yep, working now. Thanks!

[2019-11-22 15:22] Thomasdezeeuw commented on #1093
Great.

[2019-11-22 15:22] #1093 closed

[2019-11-23 21:04] dtacalau commented on #1117
@Thomasdezeeuw please re-assign this issue to me, thanks.

[2019-11-23 21:05] dtacalau commented on #1146
@Thomasdezeeuw please assign this issue to me, thanks.

[2019-11-23 21:09] dtacalau commented on #1131
@Thomasdezeeuw this is fixed per #1137 and #1127.

[2019-11-23 22:36] #1078 closed

[2019-11-23 22:37] Thomasdezeeuw commented on #1131
Did we do `UdpSocket`?

[2019-11-24 09:49] dtacalau commented on #1131
@Thomasdezeeuw udp not done, should be a simple change and test. Can I take care of UDP or do you want to do it?

[2019-11-24 15:35] Thomasdezeeuw commented on #1131
You can change it if you want.

[2019-11-24 16:40] dtacalau commented on #1131
@Thomasdezeeuw ok, I will implement the necessary changes and test them.

[2019-11-25 17:19] psumbera commented on #1152
I'm lost again. Can you please help me wit this?

[code]

The relevant code is:
[code]

[2019-11-25 20:27] Thomasdezeeuw commented on #1152
This works:

[code]

The original code mapped an `Option<Duration>` to raw pointer if `Some` or a null pointer if `None`, but this is not required for this code since `buf` is always something.

[2019-11-26 08:52] psumbera commented on #1152
Thank you very much for helping me! Now I get this:

[code]

[2019-11-26 10:42] Thomasdezeeuw commented on #1152
Try `&buf as *const _` or `&buf as *const c_void` (you might need to `use` `c_void` from `libc`/std lib), both these line will convert a pointer to to `pollfd` into a pointer to C's `void`.

[2019-11-27 00:16] AbsurdlySuspicious opened #1169 "Locked cfg-if version conflicts with log 0.4.8 on mio 0.6.20"
[code]

[2019-11-27 00:44] est31 commented on #1169
See #1170 for a fix.

[2019-11-27 08:28] zrzka opened #1171 "Performance when polling stdin (especially macOS)"
In the `crossterm` crate, we have completely rewritten input event processing and switched to the `mio` (0.6) for polling. We're experiencing some performance issues when polling STDIN in raw mode.

`crossterm` can be used as the `cursive` crate backend. We have to implement couple of `Backend` trait methods, but the problematic one is `poll_event`:

[code]

`Event` here is not `mio`'s `Event`, it

[2019-11-27 11:04] Thomasdezeeuw commented on #1169
Fixed by #1170.

[2019-11-27 11:04] #1169 closed

[2019-11-27 11:32] Thomasdezeeuw commented on #1159
Closing as resolved, @stevenroose if this is not the case please let me know.

[2019-11-27 11:32] #1159 closed

[2019-11-27 11:38] Thomasdezeeuw commented on #1171
I don't have too much time to look into this week. I did want to leave a note saying that macOS' stdin/stdout has more buffering then Linux. If I remember correctly it only flushes when reaching a new line (`\n`), but this might only be for stdout.

Since the lines in `test.txt` are quite long maybe that is the cause of the performance issue?

[2019-11-27 11:52] psumbera commented on #1152
Following did the trick:

```syscall!(write(self.ep, &buf as *const _ as *const libc::c_void, 8)).map(|_| ())```

But it seems that /dev/poll was wrong path. The main problem is missing place where to store token.

I tried to store lowest 3 bits of token into ```events``` field of ```struct pollfd``` (there are no more unused bits). With this it starts to work somehow...

So should I go back to So

[2019-11-27 12:00] Thomasdezeeuw commented on #1152
This might be because Rust `str` isn't null terminated, which is required by the `open` call.

Doesn't it have any user defined fields? We need at least 64 bits (on 64 bits architectures).

I don't know enough about Solaris to answer this. Maybe you can look at what libuv uses?

[2019-11-27 12:14] zrzka commented on #1171
I tried to fold the `test.txt` with `fold -w 40 test.txt > test2.txt` and there's no difference.

Unfolded:

[code]

Folded (40 chars/row):

[code]

Also tried to play with `c_cc[VMIN]` & `c_cc[VTIME]` values and no difference.

[2019-11-27 12:45] dtacalau commented on #1131
@carllerche @Thomasdezeeuw Which one of the tests below reflect best the way mio is intended to be used, first, second or both? The first test, ET_interests_reregister_by_wouldblock_call, rely on having an extra read which would return WouldBlock, then reregister the socket to reset the interests. The second test,  ET_interests_reregister_by_successful_call, doesn't use an extra read call, so need

[2019-11-27 13:37] Thomasdezeeuw commented on #1131
@dtacalau your examples are a little big, I assume the only change is dropping the `assert_would_block` call pointed out in the first example.

I think the first example is correct edge-trigger behaviour, that is reregistering once the readiness is drained (i.e. it returns would block). For `TcpStream`s the draining of readiness is also done with partial read/writes, i.e. a `read` not filling the

[2019-11-27 13:47] Thomasdezeeuw commented on #1171
Would it be possible to use edge triggers (`PollOpt::edge()`)? Maybe that might reduce the number of "misses". It would require stdin to be read until it hits a would block error, I don't know if that is possible with your trait design.

[2019-11-27 14:01] dtacalau commented on #1131
@Thomasdezeeuw there are two differences between the examples:
1. 1st test has the extra `assert_would_block(recv)` call, so reregister is called on wouldblock
[code]

2. 2nd test also has UdpSocket modified to always reregister on successful call
[code]

If the first example is the correct ET behaviour then we don't have to change anything for UDP to support ET because they already have reregiste

[2019-11-27 14:14] dtacalau commented on #1131
@Thomasdezeeuw In a discussion we had couple of days ago @carllerche summarized the mio ET guarantees: ``` The guarantee is that, after you get a WouldBlock, you will receive a readiness notification, so, you always have to perform the operation you care about, receive would block, then wait for the readiness event.```

What Carl said is also consistent with the first example. It also means we hav

[2019-11-27 14:42] psumbera commented on #1152
No. We don't understand each other. I have no problem with file opening. I can open it. I meant that Solaris /dev/poll (https://docs.oracle.com/cd/E19253-01/816-5177/6mbbc4g9n/index.html) doesn't allow to store any user defined value (token).

No it doesn't have it.

libuv uses Solaris event ports:

https://github.com/libuv/libuv/blob/040543eebf4983b1459a1e0e0e26dae68b80cc28/src/unix/sunos.c#L179

[2019-11-27 17:19] carllerche commented on #1131
It is not **incorrect** to reregister on partial reads / writes, just unnecessary to meet Mio's guarantees. Spurious notifications are permitted. That said, my guess is that it is better to re-register less, so i would wait until WouldBlock.

[2019-11-27 17:39] dtacalau commented on #1131
@carllerche maybe not incorrect but allowing both kinds of reregister, partial read/writes and WouldBlock creates confusion and may have unexepected consequences.

In TCP case, if you reregister on partial read/writes, then reregister on WouldBlock would be extra uneeded op affecting performance.

You may also have people reporting bugs because they expect events in the wrong place
Have a look at

[2019-11-27 21:20] dtacalau opened #1174 "Investigate and document UDP recv/peek(_from) behavior on *nix when using a smaller buffer."
On Windows, if the data is larger than the buffer specified, the buffer is filled with the first part of the data, and recv/peek(_from) returns the error WSAEMSGSIZE(10040). The excess data is lost.

What does *nix do?

Ref PR https://github.com/tokio-rs/mio/pull/1167/files#diff-c022871452a328dc8c9cd10130eb1572R233

[2019-11-27 21:52] dtacalau commented on #1131
https://github.com/tokio-rs/mio/pull/1175 for reverting reregistering on partial read/write for TCPStream

[2019-11-27 22:20] andrewtj commented on #1174
In case you haven't seen it rust-lang/rust#55794 concerns the different behaviour of Windows and *nix. For my $0.02, it'd be better to make both platforms behave the same, probably by returning an error on truncation.

[2019-11-28 12:38] zrzka commented on #1171
Tried `edge` and there's no difference. One important fact I missed - it's in the RAW mode (`libc::cfmakeraw`). The documentation says that it's a byte-to-byte processing. `libc::read` reads `1022`/`7xx` (`xx` don't remember exact number, depends on the platform). It's clearly not byte-to-byte processing and it probably means something else.

It looks like that there's some kind of buffer somewher

[2019-11-28 13:11] Thomasdezeeuw commented on #1131
Talking from a Unix perspective: edge triggers require the readiness to be drained. This means, again on Unix, to (for example) `read` until all bytes available are read. If no more bytes are available it will return a would block error. So you don't need to read until it hits a would block error, reading until it returns `< buf.len()` bytes is good enough.

But because this doesn't always works p

[2019-11-28 14:19] Thomasdezeeuw commented on #1174
Pr #1167 adds documentation to explain the difference in behaviour. And once https://github.com/rust-lang/rust/issues/55794 is resolved we'll follow that approach. So I'm punting this to v1.

[2019-11-28 14:23] Thomasdezeeuw commented on #1146
Commit 2b68a4b22b8b133dceb9dfd266235555a4483af1 fixed this, but I'm not too happy with the solution.

[2019-11-28 14:35] Thomasdezeeuw commented on #1152
If `/dev/poll` can't store any user defined data in the events than it can't be used for Mio. If Solaris event ports does support user defined data than it would be an option. I'm not much help on deciding what options are available as I don't use Solaris.

As for calling `port_associate`, the Windows implementation also re-registers on I/O operations, see for example [`TcpStream::read`](https://g

[2019-11-28 15:57] dtacalau commented on #1131
@Thomasdezeeuw Here's my reasoning for proposing the revert. People will see the mio guarantee ``` you get a WouldBlock, you will receive a readiness notification``` and write their apps accordingly. Taking read for example, you'll always have
read returns < buf.len() before WouldBlock. This means, an app using mio which tries to follow mio guarantee we'll have reregister called twice, one time fo

[2019-11-28 16:17] stevenroose commented on #1159
Sorry, I missed the e-mail. This is indeed perfect for me, thanks.

[2019-11-29 17:14] dtacalau commented on #1151
The ```UNINITIALIZED READ``` errors seem to be false positives most likely caused by drmemory bugs. Particularly, drmemory uses a preconfigured supression file with false positives which should be ignored in the final report but it does not ignore them.

I've run tcp_listener test under drmemory and compared the results with the suppresion file. All ```UNINITIALIZED READ``` errors from the result

[2019-11-29 17:17] dtacalau commented on #1151
Following a drmemory recommendation ```If these are all false positives and your focus is unaddressable errors, consider running with -light to skip all uninitialized reads and leaks for higher performance.```, I've tested with ```-light``` option ```drmemory.exe -light -- target\debug\tcp_listener.exe``` and got a clean report.

[2019-11-29 17:29] dtacalau commented on #1151
To rule out mio, I've also tested with two simple client/server apps implemented using ```net::{TcpListener, TcpStream};```. When run the client and server apps under drmemory I got the same ```UNINITIALIZED READ``` errors as reported in this issue.

I'll close this issue as not a mio Win bug.

[2019-11-29 17:29] #1151 closed

[2019-11-29 19:18] dtacalau commented on #1150
After merging PR #1154, there are no more leaks. This commits https://github.com/tokio-rs/mio/pull/1154/commits/3d654f77dc18f30abb0d1128f9d9f3c713da94cf fixed them all.

Closing as duplicate of #1146 .

[2019-11-29 19:18] #1150 closed

[2019-11-30 15:46] dtacalau commented on #1080
Fixed by @1167. @Thomasdezeeuw  this can be closed.

[2019-11-30 19:15] #1080 closed

[2019-12-01 22:52] carllerche commented on #788
What is your decision here?

[2019-12-04 12:09] dtacalau commented on #1041
Update of what has been done so far: all items which are commented out are resolved.

//Dealing with WSAStartup, #1046. (solved in #1029)
 benchmark new implementation vs. old. //TODO
 ensure wepoll licensing requirements are met (copy license file). //TODO
 document ownership of pointers being passed around the system. //TODO
 ensure memory is not leaked on error here. //WIP
//Ensure all old Wind

[2019-12-04 12:15] Thomasdezeeuw commented on #788
I haven't really seen any good arguments for reserving any space. But we could reserve the top (most significant) 3/4 bits, which gives us 8/16 tokens for internal use. Then its unlikely that allocation (using pointers as `Token`) or counting (`current_token += 1` as `Token`) strategies ever reach those bits.

[2019-12-04 12:15] dtacalau commented on #1131
@Thomasdezeeuw what's your opinion on https://github.com/tokio-rs/mio/issues/1131#issuecomment-559543879 ?

[2019-12-04 12:17] Thomasdezeeuw commented on #1131
I agree with the double re-registering. We should merge #1175.

[2019-12-04 12:22] Thomasdezeeuw commented on #1064
@carllerche do you have time to consider this? As @kleimkuhler mentioned Tokio doesn't seem to be affected.

[2019-12-04 12:23] Thomasdezeeuw commented on #995
@carllerche I think this can be closed, or do you have more plans? #1071 is also still open.

[2019-12-04 12:29] Thomasdezeeuw commented on #996
@carllerche I'm OK with removing this conversion. But I do want to keep the field public, even if we go through with #788. I have quite a bit of code that converts to and from `Token` and I don't really want to deal with an `Result`/`Option` there, even if it would call `unreachable!` or something.

[2019-12-04 15:25] carllerche commented on #788
If we reserve space, we only need to reserve a single bit. This bit signals that the token is for internal usage.

[2019-12-04 15:26] carllerche commented on #788
You are correct that there isn't much argument for it now, so we can not do it too :shrug: We can revisit before 1.0

[2019-12-04 15:50] Thomasdezeeuw commented on #788
Then let's punt the decision to v1.0.

[2019-12-04 16:02] #993 closed

[2019-12-04 16:04] Thomasdezeeuw commented on #1144
I haven't seen this failure any more, so I'm going to close it.

[2019-12-04 16:04] #1144 closed

[2019-12-04 16:05] Thomasdezeeuw commented on #1047
Punting to v1.0.

[2019-12-04 16:11] Thomasdezeeuw commented on #1117
@dtacalau is there anything left to do here?

[2019-12-04 16:21] dtacalau commented on #1117
@Thomasdezeeuw yes, this is wip. Me and Mark have continued investigating this. Biggest problem here is that the issue repro on my machine only. Mark was unable to repro this on his machines.

Mark has prepared a set of custom drivers with more debug info which I installed on a machine where the issue repro. But unfortunately issue did not reproduce under custom drivers. Anything that slows down t

[2019-12-04 16:24] Thomasdezeeuw commented on #1092
This should have been closed by #1095.

[2019-12-04 16:24] #1092 closed

[2019-12-04 16:42] Thomasdezeeuw commented on #1117
@dtacalau do you think this should block the v0.7 release? Or can we move it to the v1.0?

[2019-12-04 16:52] Thomasdezeeuw commented on #1131
Now that #1175 is merged I think this is resolved.

[2019-12-04 16:52] #1131 closed

[2019-12-04 16:53] dtacalau commented on #1117
@Thomasdezeeuw not a blocker for v0.7 release imo.

[2019-12-04 16:56] carllerche commented on #1064
@kleimkuhler how did it impact `PollEvented`?

[2019-12-04 16:59] carllerche commented on #1064
I looked... I forgot we made registration eager, which simplifies things a lot.

This change would not impact Tokio it seems like, so I'm fine w/ whatever.

[2019-12-04 18:37] carllerche commented on #1047
@piscisaureus I have a question re: this proposal.

My understanding is that, when an OVERLAPPED operation is submitted to the OS, the OS needs "ownership" of the pointer. Ownership is returned back to the caller when the operation is completed and the overlapped is received during a "poll".

This implies that the selector needs to know about "in-flight" operations. This needs to happen so that wh

[2019-12-04 18:46] carllerche commented on #996
@Thomasdezeeuw if bits are reserved, it is safe to go from `Token` -> `usize`, but not from `usize` -> `Token` as if you set the reserved bit, it isn't a "valid" token (imo).

That said, I think it is fine to panic in that case instead of dealign w/ result / option.

[2019-12-04 18:47] carllerche commented on #995
This can be closed :+1:

[2019-12-04 18:47] #995 closed

[2019-12-04 20:38] #996 closed

[2019-12-04 21:26] #1064 closed

[2019-12-04 21:30] Thomasdezeeuw commented on #880
Now that #1064 is merged I'm working on this, I intend to provide a `SourceFd` like abstraction for at least socket (and maybe handles if that is possible).

[2019-12-04 22:24] carllerche commented on #880
@Thomasdezeeuw what would this look like? I'm not sure how something like that would work for windows, except maybe: https://github.com/tokio-rs/mio/issues/1047

[2019-12-04 22:33] Thomasdezeeuw commented on #880
@carllerche my current idea is to add a wrapper type that adds `InternalState` and change all net types to use the new type, just like on Unix. The only problem is re-registering on would block errors. Currently this is on done in `try_io`, I was think about adding method `do_io` that would replicate the macro.

[2019-12-04 22:35] carllerche commented on #880
oh, you mean an internal refactor?

[2019-12-04 22:36] Thomasdezeeuw commented on #880
Yes, but also make the wrapper type public.

[2019-12-05 10:57] Thomasdezeeuw commented on #880
I've created #1183, I don't really like the API but it follows `SourceFd`. We should discuss in #1183, but maybe we should consider making the fd/socket owned.

[2019-12-05 15:25] dtacalau commented on #1047
@Thomasdezeeuw please assign this issue to me, will start working on it.

[2019-12-05 15:25] dtacalau commented on #526
@Thomasdezeeuw please assign this issue to me, will start working on it.

[2019-12-05 16:03] carllerche commented on #1047
@dtacalau before writing code we should have a solid proposal in place. I think bert’s sketch is a good starting point but we want to figure out the answers to my previous comment as well as a nice rust API to expose.

[2019-12-05 16:39] dtacalau opened #1185 "document ownership of pointers being passed around the system"
This is more of an ongoing coding practice than an actual task. We should add code comments to document pointers passed to Windows ioctl and back.

Target: v1.0 release

[2019-12-05 16:41] dtacalau opened #1186 "Document interaction with RawSocket (do not read / write directly)"
We need to tell users what they are allowed to do when getting the handle of a TcpListener/TcpStream/UdpSocket through as_raw_handle/as_raw_socket on Windows.

Target: v1.0-release

[2019-12-05 16:42] dtacalau opened #1187 "Add a SourceFd (EventedFd) equivalent for Windows"
Target v1.0-release

[2019-12-05 16:59] carllerche commented on #880
I'm just not sure _how_ we can make the wrapper type public. It is pretty specific. I would love to hear your planned strategy.

[2019-12-05 17:14] Thomasdezeeuw commented on #880
@carllerche I already implementation something here: https://github.com/tokio-rs/mio/pull/1183/files#diff-2ace2cbf884d3de3ae825a07c3e5bffdR101. Usage in `UdpSocket`: https://github.com/tokio-rs/mio/pull/1183/files#diff-c9ef904d3020aa1431eaa718ee98c307R153-R154.

But like I said I don't really like the API as its rather fragile to use, but its modelled after `SourceFd`.

[2019-12-05 17:37] carllerche commented on #880
Right, I see how you could model an abstraction that is used across TCP & UDP internally. I just don't see how it can become a public API.

[2019-12-05 18:14] dtacalau opened #1189 "Find source of possible polling delay"
This was initially reported here #1051 (comment).

The polling delay is still happening on latest Windows master:
![Capture](https://user-images.githubusercontent.com/2316254/70261776-d2aacc80-179b-11ea-8bde-0b37599e7ad9.JPG)

[2019-12-06 09:22] Thomasdezeeuw commented on #1187
This is also tracked in https://github.com/tokio-rs/mio/issues/880.

[2019-12-06 09:23] Thomasdezeeuw commented on #1187
And I have/had a pr in https://github.com/tokio-rs/mio/pull/1183.

[2019-12-06 09:24] Thomasdezeeuw commented on #1186
The same holds true for Unix, e.g. on Solaris we also need to re-register (see https://github.com/tokio-rs/mio/issues/1152#issuecomment-559115621).

[2019-12-06 13:38] dtacalau commented on #1187
@Thomasdezeeuw will keep this one too as it is more clear, #880 discussion is too long alreadt.

[2019-12-06 13:45] dtacalau commented on #1189
@Thomasdezeeuw please assign this to me, thanks.

[2019-12-06 16:12] dtacalau commented on #1189
The polling delay is exactly the time needed for GetQueuedCompletionStatusEx to return.

I've tested multiple scenarios in my attempt to diagnose the delay better. Here's what I've ruled out as causes of the polling delay:
1. Time needed to get the two threads started is close to 0 msec.
2. Time for the listener to do the bind + register and the time for stream to connect + register are close to 0

[2019-12-06 21:55] dtacalau commented on #1117
We have a repro, this rust test always fails:
[code]

@MarkLivsc  also implemented  a test that runs N instances of essentially the test above (but written in C) in parallel. The issue repro with Mark's test but only when run multithreaded, when run on one thread it does not repro.

The key here was the failing async connect, so now we can define the problem better: ``` set_ttl fails with an async

[2019-12-06 22:01] dtacalau opened #1190 "ensure memory is not leaked on afd poll error"
This is an item from #1041
```ensure memory is not leaked on error``` https://github.com/tokio-rs/mio/blob/65f19ddcb3ac554c23b0c3fa0665e64ff80141f1/src/sys/windows/afd.rs#L159

[2019-12-06 22:15] dtacalau commented on #1190
Short story: There are no memory leaks when `NtDeviceIoControlFile` returns an error, at least DrMemory tool does not report any.

Long story:
There are two error codes that are handled by mio code: ERROR_IO_PENDING and ERROR_INVALID_HANDLE. For any other error code mio just panics. I think it's better to gracefully handled all errors, will open another issue for that.

Here's how I've tested.
1.

[2019-12-06 22:15] #1190 closed

[2019-12-06 22:24] dtacalau opened #1191 "mio should not panic when afd poll return error"
Currently when Afd.poll `NtDeviceIoControlFile` returns any error code other than `ERROR_IO_PENDING` and `ERROR_INVALID_HANDLE` mio just panics. I think it would be better to handle all error codes and pass the decision on how to handle the error to the mio user.

For instance, let's say a user polls a TcpListener, when Afd.poll return any error code then the two codes above, do not panic, but sav

[2019-12-06 22:48] dtacalau commented on #1041
//Dealing with WSAStartup, #1046. (solved in #1029)
//benchmark new implementation vs. old.  https://github.com/tokio-rs/tokio/issues/1918
//TODO: Mio will be benchmarked through Tokio. Will open a Tokio issue to create a benchmark.
//ensure wepoll licensing requirements are met (copy license file). #1188
//document ownership of pointers being passed around the system. #1185
//ensure memory is not

[2019-12-06 22:50] dtacalau commented on #1041
@Thomasdezeeuw this issue can be closed. All items have either been resolved or are tracked by other opened issues.

[2019-12-06 22:55] #1041 closed

[2019-12-07 00:25] khionu opened #1193 "TcpStream clones count as same Evented handler"
I'm not sure if this counts as a bug or if it's just a detail that needs to be documented, but this is apparently not possible.

Example:
[code]
Error:
[code]

The issue I see is that the docs say that the clone produces an independent handle, which should mean this is allowed.

System: Windows 10 1903 x64
Mio: 0.6.21

[2019-12-07 10:07] Thomasdezeeuw commented on #1191
Could you point to the panic?

[2019-12-07 10:11] Thomasdezeeuw commented on #1193
@khionu `try_clone` has many problems, this could very well be one of them. For Mio 0.7 `try_clone` is going to be removed, see https://github.com/tokio-rs/mio/pull/1178 and https://github.com/tokio-rs/mio/pull/1184. Based on that I'm going to close this.

If you still need to split the reading and writing side I would suggest an `Arc` and then you can read and write safely.

[2019-12-07 10:17] Thomasdezeeuw commented on #1117
I prefer to keep this open as its still an issue.

In any case maybe we should document it and maybe share the info with other project such as libuv.

[2019-12-07 16:32] kornelski opened #1197 "Yank version with "0.*" deps"
An old version of `mio` has dependencies specified with `"0.*"` version requirement (`nix = "0.*"`).

Crates with such vague dependency versions became unusable, because `0.*` allows picking too-new semver-incompatible dependencies, and may break with Cargo's `minimal-versions` feature.

I suggest yanking it:

[code]

[2019-12-07 16:46] dtacalau commented on #1117
@Thomasdezeeuw it's already documented https://github.com/tokio-rs/mio/blob/0a55a121f0a2646376e062a2ecbbdf3f03902598/src/net/tcp/stream.rs#L164 .

[2019-12-07 16:47] dtacalau commented on #1191
@Thomasdezeeuw https://github.com/tokio-rs/mio/blob/0a55a121f0a2646376e062a2ecbbdf3f03902598/src/sys/windows/selector.rs#L565

[2019-12-07 17:32] Thomasdezeeuw commented on #1191
We should go through all the `unwrap` in the Windows implementation make sure the all make sense and see if we can handle them more gracefully.

[2019-12-07 18:09] khionu commented on #1193
Alrighty, thank you very much.

[2019-12-07 18:09] #1193 closed

[2019-12-07 18:11] dtacalau opened #1198 "Review all the `unwrap` from the Windows implementation"
We should go through all the `unwrap` in the Windows implementation make sure the all make sense and see if we can handle them more gracefully.

Not all of them make sense, see #1191.

[2019-12-07 18:12] dtacalau commented on #1191
@Thomasdezeeuw good idea, I've opened #1198 to not forget about this, though I'd push this check after the custom polling implementation.

[2019-12-08 20:40] khionu opened #1199 "[Question] How to split TcpStream for parallel Send/Recv wrappers?"
I've switched to Master for my work now, and I can't see a way that this is possible anymore. A stream can't have two object handles, yet you need mutable access to read OR write. I'd have to use unsafe to avoid a Mutex, and that would rely on internals being safe to use it this way. My crate could use an abstraction that has the ownership of the TcpStream inside my wrapper of Poll, but that would

[2019-12-09 09:53] Thomasdezeeuw commented on #1199
With send/recv to do mean `io::Read` and `io::Write`? Because those trait are implemented for `&TcpStream`, see https://github.com/tokio-rs/mio/blob/6d5550a8c1dc30ffe81ce04d3f2b599cf7e36fe1/src/net/tcp/stream.rs#L203-L211. So you can just use `Arc<TcpStream>` and safely read from one and write to the other.

[2019-12-09 10:04] khionu commented on #1199
My point is that I cannot have **parallel** Read/Write, something TCP allows. The functions themselves take a mutable reference, they cannot be ran at the same time on separate threads, Rust's ownership model won't allow it, without `unsafe`.

[2019-12-09 10:15] Thomasdezeeuw commented on #1199
@khionu here is a working version using `net::TcpStream`: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=fcf94fa1b69014723fafae715cf90254. It should work the same for Mio.

[2019-12-09 10:34] khionu commented on #1199
Ahh.... I see my problem. I missed the semantic that Write is implemented for `&TcpStream`, not just `TcpStream`.

[2019-12-09 10:34] #1199 closed

[2019-12-09 12:41] dtacalau opened #1202 "on macos reregister and deregister return ok if the event source has not been previously registered"
According to reregister docs:
[code]

I noticed this issue when testing #1201. Macos does not follow doc constraints for reregister and deregister. The following tests fail only on macos:

running 14 tests
test is_send_and_sync ... ok
test drop_cancels_interest_and_shuts_down ... ok
test poll_erroneous_registration ... ok
test poll_registration ... ok
test register_deregister_multiple_poll_instanc

[2019-12-09 12:55] dtacalau opened #1203 "on linux register on another poll instance works after deregister"
According to deregister docs:
[code]

I noticed this issue when testing #1201. Linux does not follow doc constraints for deregister. The following testfail only on `Test --release Linux`:

running 15 tests
test deregister_without_register ... ok
test double_register_different_token ... ok
test drop_cancels_interest_and_shuts_down ... ok
test is_send_and_sync ... ok
test poll_closes_fd ... ok
test

[2019-12-09 13:18] dtacalau opened #1204 "(re)register should not allow re-using the same token for different event sources"
This was noticed this issue when testing #1201.  The following test should fail when trying to register listener2 using the same token, ID1, because the token has already been used when registering listener1.

If using the same token for different event sources, you won't be able to tell for which event source you have received the events later on.

[code]

[2019-12-09 13:22] Thomasdezeeuw commented on #1204
Why shouldn't Mio allow this? I use this to map two I/O types to the same future.

This is really the user problem, not Mio's.

I don't want to add any overhead to Mio for this. It is up to the user to pick a useful `Token`, if that includes using the same `Token` for different I/O source we should allow it.

[2019-12-09 13:24] Thomasdezeeuw commented on #1202
`kqueue(2)` is nice this way, but Mio (well our Windows implementation mostly) follows this more strictly. So when building cross-platform software the documentation is correct, but on `kqueue` platforms its just more lenient. I don't consider this a problem really.

[2019-12-09 13:25] Thomasdezeeuw commented on #1203
This is more or less the same answer as I commented here https://github.com/tokio-rs/mio/issues/1202#issuecomment-563236612. For cross-platform application this is true, but some platforms are more lenient. I don't consider this a problem.

[2019-12-09 14:04] dtacalau commented on #1202
@Thomasdezeeuw The problem is this platform dependant behavior is not documented in reregister/deregister doc. I'm fine with just documenting this. WDYT?

[2019-12-09 14:05] dtacalau commented on #1203
@Thomasdezeeuw  I'm fine with just documenting this. WDYT?

[2019-12-09 14:15] dtacalau commented on #1204
@Thomasdezeeuw Not really a problem, to me it seemed logic to use different tokens for different sources. But if it's a design choice to allow them, I don't have a problem. We just need to document it, to be clear on it.

As for benefits, here a situation when it would be beneficial to not allow same tokens:
`Let's say a user uses two different sources and registers them both with the same token.

[2019-12-09 15:37] Thomasdezeeuw commented on #1204
This depends on what we do in https://github.com/tokio-rs/mio/issues/788. Currently `Token` is effectively opaque to Mio.

This is really a problem created by the user and imo not for Mio to solve.

[2019-12-09 15:40] Thomasdezeeuw commented on #1202
There are many undocumented platform differences, I don't think we can documentation all. I think we should focus on documentation the way Mio can be used in a (more or less) cross-platforms manner. That is why the documentation currently is written the way it is.

[2019-12-09 15:40] Thomasdezeeuw commented on #1203
Same answer as here: https://github.com/tokio-rs/mio/issues/1202#issuecomment-563297093.

[2019-12-09 16:15] dtacalau opened #1205 "Sometimes poll with None timeout returns with no events"
I noticed this behavior when writing tests, so I wrote a simple test to isolate it.

This is a bug because according to poll doc:
[code]

[2019-12-09 16:25] dtacalau commented on #1205
Repro test:

[code]

[2019-12-09 17:46] dtacalau commented on #1202
@Thomasdezeeuw agree, you can't doc everything. But, we can doc whatever differences we find, especially in cases like this one, when mio does not behave as it is documented.

I'll take care of these two issues.

[2019-12-09 17:48] dtacalau commented on #1074
@Thomasdezeeuw this can be closed.

[2019-12-09 17:49] dtacalau commented on #1191
@Thomasdezeeuw please assign this to me, thanks!

[2019-12-09 18:55] Thomasdezeeuw commented on #1074
The `try_clone` methods have been removed from all types are they broken in various ways, see #1184 and #1178.

[2019-12-09 18:55] #1074 closed

[2019-12-09 18:59] Thomasdezeeuw commented on #1202
I don't know. I feel like it would only confuse the reader if we add docs about edge cases we don't officially support. I think we should stick to "this works in Mio, other uses are not support". If we document every difference in all the platforms the documentation will have too much information that is not really useful when using Mio, imo. @carllerche what do you think?

[2019-12-09 19:02] carllerche commented on #1202
We can update the docs to state that the behavior is undefined if `register` is not called first.

[2019-12-09 19:10] dtacalau commented on #1202
@carllerche, @Thomasdezeeuw  ok with saying undefined in doc.  I'd still keep the tests for such edge cases on platforms where they make sense. For instance deregister and reregister w/o a prev register must return error on Windows, otherwise it is a bug.

Another reason, edge cases are good sources of bugs, if we break something, an edge case test should break first.

[2019-12-09 19:59] dtacalau commented on #1205
Fixed by #1206

[2019-12-09 19:59] #1205 closed

[2019-12-10 01:40] kleimkuhler opened #1211 "Introduce non-libstd socket builder methods"
## Motivation

#1029 removed the `net` resources APIs to match those of `libstd`. This change also allowed Mio to remove it's dependency on `net2` which was used to provide these methods.

As part of the Mio update in Tokio--and mentioned briefly in the other issues--these methods would be helpful to provide again. For example, they are currently [removed](https://github.com/tokio-rs/tokio/pull/17

[2019-12-10 09:23] #1202 closed

[2019-12-10 09:40] Thomasdezeeuw commented on #1211
I've outed thing opinion before, but I'll repeat it here. I don't think it wise to duplicate the effort of a `net2`/`socket` crate. We already have the `FromRawFd`/`FromRawSocket` and `from_std` implementations that allow for advanced usage of all our `net` type (not just `TcpStream`, as the other types also have useful options that the std lib versions don't provide).

In the past I've also tried

[2019-12-10 14:44] dtacalau commented on #1189
@MarkLivsc found the cause of the polling delay. These are his words describing the problem:
`what's happening is the connect thread attempts to connect to port 9999 before the listen thread has a chance to start listening. the packet is dropped (no one's listening). then ~500ms later it's retransmitted because there's been no response. by this point the listen thread has started bound + started l

[2019-12-10 15:32] dtacalau commented on #1203
Closed via #1208

[2019-12-10 15:32] #1203 closed

[2019-12-10 19:33] Thomasdezeeuw opened #1213 "Use accept4 where possible"
In `sys::TcpListener::accept`.

[2019-12-10 19:59] dtacalau commented on #1189
Closed, nothing to fix here, it was a test problem: connecting before listener.

[2019-12-10 19:59] #1189 closed

[2019-12-10 22:13] kleimkuhler opened #1214 "Test feature flag combinations in CI"
## Motivation

Once #1192 merges, Mio will have several feature flags that can be used in different combinations of each other. CI should test that the combinations are correct. Currently, it would just test `--all-features`.

## Solutions

1. I've been using [cargo-hack](https://github.com/taiki-e/cargo-hack)'s `--feature-powerset`. **Cons**: It's a little expensive to run right now because it mi

[2019-12-10 22:30] #1118 closed

[2019-12-12 11:28] Thomasdezeeuw opened #1216 "What features to enable by default"
Now that #1192 is merged Mio mostly panics by default for new users. This is not the most pleasant user experience. So we have to decide what we want to do, I see two possible choices:

* Put the burden of adding the correct features on the end users.
* Put the burden of disabling default features on library maintainers.

/cc @kleimkuhler @carllerche

[2019-12-12 11:30] Thomasdezeeuw commented on #880
This isn't going into alpha1.

[2019-12-12 11:33] Thomasdezeeuw opened #1217 "v0.7 changelog"
Since 0.6 Mio has changed a lot. Many types come and gone and in general behaviour has changed. But this hasn't yet been documented in the changelog.

[2019-12-12 11:34] Thomasdezeeuw opened #1218 "v0.7 upgrade guide"
To ease the the update from 0.6 to 0.7 we should write an upgrade guide.

Related #1217.

[2019-12-12 15:43] carllerche commented on #1216
Tokio opted to disable by default and provides a “full” feature. Requiring lib authors to opt out has not proven to work well.

IMO mio is lower level than tokio, so it doesn’t really need a “full” feature.

In theory, there should be no panics, only compile fail.

[2019-12-12 15:58] carllerche commented on #1191
@piscisaureus Do you know what the error cases are?

[2019-12-12 19:33] carllerche commented on #1191
According to @piscisaureus, there are no error cases that can be handled. We should include a panic w/ an error message and worry about it when we have a bug report.

[2019-12-12 20:36] piscisaureus commented on #1047
@carllerche

Make sure the Overlapped is wrapped (either directly or indirectly) wrapped in an Arc.

When an async I/O operation is successfully started (and you know the kernel now implicitly owns the OVERLAPPED) you artificially increase the Arc's reference count by cloning and forgetting the Arc.

When the operation completes and you receive a OVERLAPPED* from GetQueuedCompletionStatus, do some

[2019-12-12 22:51] kleimkuhler commented on #1216
I think putting the burden of adding the correct features on the end users is okay for Mio. I think the current features are straightforward for deciding what to include and exclude.

I could see a `full` flag (possibly as default) being used incorrectly (providing unused functionality) more often than as a convenience.

[2019-12-13 00:19] kleimkuhler commented on #1204
Agree with @Thomasdezeeuw on this but thanks for opening the discussion! I think this can be closed.

[2019-12-13 00:19] #1204 closed

[2019-12-13 08:54] Thomasdezeeuw commented on #1047
@piscisaureus that patch, with modifications, made it into the code base: https://github.com/tokio-rs/mio/blob/3ebce3e276f58126c25bdf9b606fe4676c0013c1/src/sys/windows/selector.rs#L288-L301. I think we're doing it correctly now, the way you've explained it.

[2019-12-13 08:58] Thomasdezeeuw commented on #1191
@piscisaureus @carllerche  is it like `close`, where even though you can't handle the error, you shouldn't retry the operation because you don't know if the file descriptor is closed or not?

[2019-12-13 09:11] Thomasdezeeuw opened #1223 "Expand documentation of Mio features"
After #1192 Mio makes much more use of features, but these are only documented shortly in [`Cargo.toml`](https://github.com/tokio-rs/mio/blob/3ebce3e276f58126c25bdf9b606fe4676c0013c1/Cargo.toml#L26-L38). When documentation is generated, such as for doc.rs, all features are enabled so it might be surprising for new users that the need to enable a bunch of features.

I propose two solutions two this

[2019-12-13 09:11] Thomasdezeeuw commented on #1216
I'm OK with not enabling any features by default.

Then this can be closed.

[2019-12-13 09:11] #1216 closed

[2019-12-13 22:15] Thomasdezeeuw commented on #1191
Punting this to v0.7 (not alpha 1).

[2019-12-13 22:26] Thomasdezeeuw commented on #1136
Pr #1224 removed all intra rustdoc links for the 0.7-alpha1 release. I'm changing this to the v1 milestone, hopefully by that time we can use intra rustdocs links on stable.

[2019-12-13 22:37] hawkw commented on #1136
FWIW, docs.rs builds crates on nightly by default.

[2019-12-13 22:39] Thomasdezeeuw commented on #1136
Didn't know that, then we can switch back for the v0.7 release.

[2019-12-13 22:51] hawkw commented on #1136
Yeah, this is also why we are able to use the `doc_cfg` nightly feature on docs.rs.

[2019-12-16 15:16] dtacalau opened #1226 "regression test issue_1205 hangs on all Linux CI"
https://dev.azure.com/tokio-rs/Tokio/_build/results?buildId=4073&view=logs&j=95c0de06-86ba-5b83-6acc-e8fdf9d57564&t=804b0c6d-d844-5f90-18fc-e53e483bd33c

![Screenshot_1](https://user-images.githubusercontent.com/2316254/70918515-d1915f00-2027-11ea-87af-bc8c64d68216.jpg)

[2019-12-17 09:24] Thomasdezeeuw commented on #1226
So the only log is that its running for longer then 60 seconds?

[2019-12-17 10:29] dtacalau commented on #1226
@Thomasdezeeuw Yes, and the fact that it hanged on all Linux CIs during the same run.

[2019-12-19 03:33] 00imvj00 commented on #904
Please maintain one lib for all mio related things. Adding 3, 4 dependencies just for one lib will be hard and confusing for new people.

Maybe we can split into separate modules and arrange it better?

[2019-12-19 09:31] Thomasdezeeuw commented on #904
@00imvj00 what do you mean? Most types removed in 0.7 were already deprecated, the only types removed in addition were `Registration` and `SetReadiness`, but those were implemented fully in user space and didn't really below in Mio (as they have little to do with polling the system for readiness events).

[2019-12-19 09:34] 00imvj00 commented on #904
Sorry, I misunderstood this
```For Mio 0.7 we should determine what types should remain in the Mio crate and what types should move to other crates, for example mio-extras or mio-more.```.

[2019-12-19 09:37] Thomasdezeeuw commented on #904
OK, for clarity; the types in Mio 0.7-alpha1 will also (probably) be the types in Mio 1.0. I can't give a 100% guarantee, but I don't expect a lot of changes to the types.

[2019-12-19 09:40] Thomasdezeeuw commented on #1226
See https://github.com/tokio-rs/mio/pull/1231#discussion_r359766938, my change was invalid.

[2019-12-19 09:40] #1226 closed

[2019-12-19 10:03] 00imvj00 commented on #904
understood. One question, @Thomasdezeeuw with new types, instead of `Poll`, we can use `Registry` to register and re-register IO handlers. Is `Registry` Reference(&Registry) safe to pass across thread?

[2019-12-19 10:06] Thomasdezeeuw commented on #904
Yes, both `Poll` and `Registry` implement [`Send`](https://doc.rust-lang.org/std/marker/trait.Send.html) and thus can be send across thread bounds. Furthermore both implement [`Sync`](https://doc.rust-lang.org/std/marker/trait.Sync.html) can safely be used (i.e. methods called) across thread bounds.

[2019-12-19 10:25] 00imvj00 commented on #904
@Thomasdezeeuw thanks. :)

[2019-12-28 14:17] Thomasdezeeuw opened #1235 "UdpSocket::join_multicast_* APi does not match std lib's API"
The std lib API accepts the addresses by reference, i.e. `&Ipv4Addr`, Mio however takes it by value `Ipv4Addr`. I think we should match the standard library API, although its inconsistent with `UdpSocket::bind`, which takes the address by value.

[2019-12-28 17:28] slanterns commented on #923
FYI: [linux-io-uring](https://github.com/quininer/linux-io-uring)

[2019-12-29 12:29] Thomasdezeeuw commented on #1213
I plan to work on this after I've converted `TcpListener` to use `IoSource`.

[2020-01-03 20:05] Thomasdezeeuw commented on #1214
Little script to run the current combos locally:

[code]

[2020-01-03 21:57] Thomasdezeeuw commented on #1213
Doing this after https://github.com/tokio-rs/mio/pull/1242 is merged.

[2020-01-04 09:34] Thomasdezeeuw commented on #1213
Note to self: on macOS `accept4(2)` doesn't exists, but we might not have to set the `TcpStream` to non-blocking: https://github.com/tokio-rs/mio/pull/1242#issuecomment-570770629.

[2020-01-06 08:47] #1213 closed

[2020-01-06 22:22] Thomasdezeeuw opened #1250 "Remove unneeded setting of NONBLOCK in sys::uds::accept"
Remove unneeded setting of `NONBLOCK` in `sys::uds::accept` here: https://github.com/tokio-rs/mio/blob/ece806da735522af80da73d94e9f08f60a3c38cb/src/sys/unix/uds/listener.rs#L73

[2020-01-07 10:28] #1250 closed

[2020-01-07 17:42] vberger commented on #907
Just a question, to make sure I correctly understood this change. This does effectively remove the capability to craft purely userspace event sources that would be recognized by mio, right?

So, the path forward to keep using them (like the ones provided by `mio-extras`) is to have them use a `Waker`, and then manually check the readiness of the userspace sources when the poll method returns.

Is

[2020-01-07 19:03] carllerche commented on #923
Is io-uring for TCP or mostly just files?

[2020-01-07 19:13] Thomasdezeeuw commented on #907
@vberger yes, that is correct. User space events are consider out-of-scope for Mio 0.7.

[2020-01-07 19:14] Thomasdezeeuw commented on #907
@vberger your suggested solution how more or less how I handle user space as well.

[2020-01-07 19:15] #1214 closed

[2020-01-07 19:19] vorner commented on #923
From what I've read around it, it was mostly designed for files, but it can be used for TCP (or UDP or probably whatever file descriptors). There are likely to be some performance gains under high loads, as it allows doing multiple recvs/sends per single syscall (or in some extreme cases without syscalls completely). But without any experiments/measurements, my guess is the gains won't be as big a

[2020-01-07 19:58] rvolgers commented on #923
For files there was basically only the `io_submit` API if you wanted asynchronous behaviour, and that had some very significant shortcomings (most importantly, it could actually *block* on some things like allocating room for fs metadata), so it was basically only used for `O_DIRECT` for things like databases. So in that sense, that's the motivation for the API.

It's rapidly moving towards a gene

[2020-01-08 10:00] jasonwilliams commented on #923
@rvolgers did runtimes like Go and Node (i think using LibUV) open up a second thread to read from files in the past? where as with this it's now a lot easier to read files using asyncIO instead of a background thread?

I think because of Disk IO using something like epoll would not be that useful on local files right?

[2020-01-08 15:20] uazu opened #1256 "Need to copy readiness info out of Event, or else copy whole Event"
I'm trying to convert some existing code to 0.7.0-alpha.1.

In 0.6 when I handle an Event, I map the Token to a local handler and then pass on the readiness info from the Event to that handler for it to interpret. In 0.7.0, there is no separate readiness info, just methods `is_readable()` etc on the Event. So I am stuck. I cannot copy or clone the Event, and I cannot copy a Ready value out to pass

[2020-01-08 16:15] Thomasdezeeuw commented on #1256
I see to possible solutions for this.

1. Mio can implement `Clone` for `Event`. I believe this is possible for all currently supported platforms, but it might make it harder to port to a new platforms.
2. Create your own `Readiness` type and read all (interesting) statuses from `Event`, essentially the same type that Mio 0.6 provided.

I would suggest the second option because `Event` on `kqueue(

[2020-01-08 16:25] uazu commented on #1256
Yes, probably that's the sensible solution (make my own Readiness type). I can't really restructure because I allow different tokens to be handled with different priority levels, so I'll always need some queuing of lower-priority events at least, so I'll still need to copy the readiness info somehow.

I'll close this for now, as I guess there is no action required on mio.

[2020-01-08 16:25] #1256 closed

[2020-01-09 12:37] zonyitoo opened #1257 "TcpStream bind before connect"
Ref: https://github.com/tokio-rs/tokio/issues/1543

There is no way to call `bind()` before `connect()` when creating `TcpStream`. This is a very common method to tell operating system to connect the target address with a specific local address (mostly for using a specific network interface).

Proposal, adding a static method for `TcpStream`:

[code]

Other candicate names:

1. `connect_with`
2. `

[2020-01-09 13:23] Thomasdezeeuw commented on #1257
It comes up every once in a while that a non-libstd method is needed on one of the net types. For now I think we should not add them ad-hoc and create more “whole” solution, one that would satisfy (almost) all of these requests. Such a solution is being discussed in #1213. So I don’t think a pr to add such a method would be accepted now.

To accomplish this now you can use the net2 or socket crate

[2020-01-09 13:34] zonyitoo commented on #1257
This is what I am doing now.

But `net2` haven't update for 2 years... I have found `socket2` as replacement.

[2020-01-09 13:49] Thomasdezeeuw commented on #1257
I don't know exactly what is going on with `net2`, `socket2` seems its replacement. I also see I linked to the wrong issue, its #1211.

[2020-01-11 20:14] dtacalau commented on #1117
The behavior observed and investigated in this issue has been documented in Win docs. @MarkLivsc pointed us to the doc location:
[code]

Closing this issue as we've already had the proper usage documented:

[code]

[2020-01-11 20:14] #1117 closed

[2020-01-12 10:08] Thomasdezeeuw commented on #1117
@dtacalau and @MarkLivsc thanks for figuring this out!

[2020-01-17 08:37] polachok commented on #1257
It seems like net2 [is deprecated](https://github.com/rust-lang-nursery/net2-rs/issues/91)

[2020-01-22 20:15] psumbera commented on #1152
Yes, my colleague proposed fix here: https://github.com/tokio-rs/mio/pull/1263

[2020-01-24 19:06] carllerche opened #1265 "Document that `mio` resouces (i.e sockets, ...) require the associated `Poll` instance to remain instantiated"
Mio reserves the right to cancel / disable resources (sockets) that were registered w/ a `Poll` instance once that `Poll` instance is dropped. This is because, on windows, Mio needs to cancel all in-flight operations and, w/ a completion based system, there is no way for a socket to know that an operation completed without the IOCP handle providing completion events.

Mio already has an equivalent

[2020-01-30 21:52] publicocean0 opened #1266 "It is not possible to execute inside a thread pool?"
Can I execute nio api in a set of threads? In addition is possible to esecute selector inside a abstract pool of fibers or threads?

[2020-01-30 22:24] Thomasdezeeuw commented on #1266
@publicocean0 I'm not sure what you are asking, I'm not sure what you mean with "abstract pool of fibers or threads". But you can execute Mio functions on all threads, so that includes a thread pool.

[2020-01-30 22:43] #1265 closed

[2020-01-31 12:13] Thomasdezeeuw commented on #1217
I've started working on this.

[2020-02-06 21:58] guiri14 commented on #1218
A small addition but PollOpt no longer exists because Mio only supports edge triggers now, so that's removed when upgrading (if you only use edge events.. not sure you can do much in the other case).

[2020-02-07 14:22] kingluo opened #1269 "deregister question in example"
In example tcp_server.rs, when the connection socket is done or failed, it seems that no deregister from the registry.. Is it a leak?

[2020-02-08 14:10] Thomasdezeeuw commented on #1269
You're right we should deregister before dropping the connection here: https://github.com/tokio-rs/mio/blob/ca6dbf67589d34150ebc0ef818f30786fdd32b55/examples/tcp_server.rs#L68

[2020-02-08 15:01] jeromegn commented on #923
Kernels 5.5+ supports TCP `accept` / `connect`. I think 5.6 will support `send` and `recv` ([and more](https://lwn.net/Articles/810414/))

[2020-02-09 17:36] ufoscout commented on #923
I suppose you already aware of it, anyway, this seems interesting: https://github.com/spacejam/rio

[2020-02-10 07:45] kingluo opened #1270 "deregister question"
`deregister` would remove all interests on the socket.
Is it possible to specify which interest (read or write) to be deregistered? Otherwise, the app should remember its interest to reregister, which is very inconvenient.

And, in the `register` method doc:

what does it mean? The source will be bound to the same Poll instance forever once registered?

[2020-02-10 09:20] Thomasdezeeuw commented on #1270
This is not possible. You'll need to remember the interests yourself, otherwise Mio would need to remember the interests which is unwanted overhead for use cases which don't need this functionality.

It means that once an event source is registered with a `Poll` instance it shouldn't be registered with another `Poll` instance. It is safe to register it with the same `Poll` instance.

[2020-02-10 10:40] kingluo commented on #1270
Thanks for your clarification.

[2020-02-10 10:40] #1270 closed

[2020-02-19 13:08] lnicola commented on #923
Here's a benchmark for a TCP echo server: https://twitter.com/hielkedv/status/1218891982636027905.

[2020-02-27 12:53] fbucek opened #1274 "deregistering handle with poller crash with segmentation fault 11 on macOS"
Crash with segmentation fault 11 when running and closing  `http-proxy` from actix-example  https://github.com/actix/examples/issues/261

Step to reproduce on macOS ( no crashes on ubuntu 18.04 )

[code]

When enabled logging in `main.rs`

[code]

[code]

[code]

[2020-02-27 12:56] Thomasdezeeuw commented on #1274
What Mio version is this using?

[2020-02-27 13:13] fbucek commented on #1274
Latest one:
   Compiling mio v0.6.21
   Compiling mio-uds v0.6.7

[2020-02-27 13:23] Thomasdezeeuw commented on #1274
@fbucek latests one is 0.7.0-alpha.1, but yes non-alpha its v0.6.21.

[2020-02-27 13:57] Thomasdezeeuw commented on #1274
I don't think is this a proper in Mio. The line at which it fails is a system call to `kevent`, see: https://github.com/tokio-rs/mio/blob/cd0423c47209a70d6a42cfd500de6ba3052fa8b8/src/sys/unix/kqueue.rs#L88

In the backtrace it shows that all arguments are pointer to something, i.e. not null:

[code]

So either invalid arguments are supplied, or (more likely) another thread is dereferencing a null

[2020-02-27 20:11] Keruspe opened #1275 "mio 0.7 schedule"
Hi,

What is the plan regarding mio 0.7?
Do you have any time frame in mind?
Will there be more preview releases? (It seems there have been important changes since alpha 1)

This issue is not intended as a "please rush this, we need this yesrerday" rant, I'm just trying to get a better global view of were we stand in the way from 0.6 to 0.7 to try and anticipate this release in other projects with

[2020-02-27 22:11] Thomasdezeeuw commented on #1275
I don't think we had any API changes, mostly internal refactors that should be fine with regards to stability.

@carllerche what do you think? Another alpha release or just release 0.7?

[2020-03-01 09:33] #1235 closed

[2020-03-01 09:34] Thomasdezeeuw commented on #1217
#1268 includes all changes up to commit ca6dbf6.

[2020-03-01 10:36] Thomasdezeeuw commented on #880
We still don't have a good solution for this, but I want to release v0.7 so punting this to v1.

[2020-03-01 10:40] Thomasdezeeuw commented on #1218
I don't really have too much time to write this but I don't want to wait with a v0.7 release any longer. So I would refer to the blog post I made: https://tokio.rs/blog/2019-12-mio-v0.7-alpha.1.

[2020-03-01 10:41] Thomasdezeeuw commented on #1218
Removing from v0.7 milestone to not block the release.

[2020-03-01 10:49] Thomasdezeeuw commented on #1191
Fixed by #1215.

[2020-03-01 10:49] #1191 closed

[2020-03-02 00:08] #1223 closed

[2020-03-02 08:59] Thomasdezeeuw commented on #1217
Closed by #1278.

[2020-03-02 08:59] #1217 closed

[2020-03-02 09:20] Thomasdezeeuw commented on #1275
@Keruspe v0.7 is almost here: #1279.

[2020-03-02 18:00] Thomasdezeeuw commented on #1275
Version v0.7 has been released.

[2020-03-02 18:00] #1275 closed

[2020-03-04 23:22] modestmicha opened #1282 "Close `UdpSocket`?"
Is the `UdpSocket` closed on drop? Or how should the socket be closed/unbound by the user?

[2020-03-04 23:26] modestmicha commented on #1282
Since `mio::net::UdpSocket` wraps `std::net::UdpSocket` it should be closed on drop!?

[2020-03-04 23:26] #1282 closed

[2020-03-04 23:39] kleimkuhler commented on #1282
@modestmicha That is correct; it is closed on drop.

[2020-03-05 11:44] Thomasdezeeuw commented on #1274
@fbucek any luck creating a smaller reproducible example?

[2020-03-05 11:48] fbucek commented on #1274
@Thomasdezeeuw unfortunatelly no.

[2020-03-10 20:20] koutheir commented on #1218
Is there any reason why non-edge events were removed? e.g., level events.

[2020-03-10 20:36] Thomasdezeeuw commented on #1218
@koutheir #928 is the related issue, TL;DR level and one-shot triggers were broken on some platforms, instead we've opted to (for now) only support edge triggers.

[2020-03-12 11:19] nox commented on #1049
Servo's ipc-channel also used level-triggered events and it seems non-trivial to switch it to edge-triggered ones.

https://github.com/servo/ipc-channel/blob/master/src/platform/unix/mod.rs#L461-L464

[2020-03-12 11:36] nox commented on #907
@Thomasdezeeuw @vberger Did any of you made a crate that replaces `Registration`/`SetReadiness`? I was looking into bumping mio in Servo, but we rely on `mio-extras` through `ws` and it uses those things.

[2020-03-12 11:41] Thomasdezeeuw commented on #1049
@nox after a quick look I think you need to add a loop to `recv` (https://github.com/servo/ipc-channel/blob/82cbc216f78b866878b4226b628c863c90f1a109/src/platform/unix/mod.rs#L873-L967), or in `UnixCmsg::recv` (https://github.com/servo/ipc-channel/blob/82cbc216f78b866878b4226b628c863c90f1a109/src/platform/unix/mod.rs#L1040), calling `libc::recvmsg` until you get a [`WouldBlock`](https://doc.rust-la

[2020-03-12 11:54] Thomasdezeeuw commented on #907
@nox I don't know how Servo used `Registration`/`SetReadiness`, but personally I used crossbeam's channel instead. The most straight forward replacement would creating your own readiness, e.g. `struct ServoReadiness { mio::Token, Ready }` (also using a custom`Ready` type), and poll `crossbeam_channel::Receiver<ServoReadiness>` when you would poll `mio::Poll` and process events from both sources no

[2020-03-12 12:01] nox commented on #907
Sorry I meant that `mio-extras` (which is used by `ws`) uses this pair of types, not Servo directly, which is why I don't particularly know how it's used either. I'll look into what you suggested some time.

[2020-03-12 14:10] vberger commented on #907
@nox No, I instead stopped depending on mio-extras and implemented internally what I needed for managing purely userspace event sources.

[2020-03-20 08:28] nicokoch commented on #923
io_uring is slowly losing its file io focus. It's pretty much evolving into "call any system call, but asynchronously".

[2020-03-20 08:31] lnicola commented on #923
New set of benchmarks: https://www.phoronix.com/scan.php?page=news_item&px=Linux-5.6-IO-uring-Tests.

[2020-03-22 11:21] tormol commented on #1218
A gotcha I found about selectively enabling mio 0.7 features in a library:

Because of [Cargo bug #4866](https://github.com/rust-lang/cargo/issues/4866), enabling more features as dev-dependency will also enable that feature for users of the crate, where `[dev-dependencies]` should normally be ignored. This means that for example

[code]

is equivalent to

[code]

and that a dependent crate which

[2020-03-22 13:05] cg31 opened #1284 "v0.7 is broken on Windows?"
It seems the tcp_server example can only accept one client.

Reproduce steps:

1 compile and run the tcp_server example:
https://github.com/tokio-rs/mio/blob/master/examples/tcp_server.rs

2 compile the connect example in tokio:
https://github.com/tokio-rs/tokio/blob/master/examples/connect.rs

3 run connect.exe twice

result: only the connecttion from first connect.exe is accecpted.

If the tcp_s

[2020-03-22 13:21] Thomasdezeeuw commented on #1284
That because the example isn't port to v0.7, it needs a loop around `accept` here: https://github.com/tokio-rs/mio/blob/fefbd790be734ce2313c3dc51878973956bc325d/examples/tcp_server.rs#L49-L59. I'll send a pr to fix it.

[2020-03-22 13:27] cg31 commented on #1284
@Thomasdezeeuw, I forgot to mention...

I used the the example from master branch. And master branch mio is the same as v0.7.0.

[2020-03-22 13:27] gdf8gdn8 commented on #1284
On MacOS and Linux the example works.

[2020-03-22 13:29] Thomasdezeeuw commented on #1284
@gdf8gdn8 likely because macOS and Linux create multiple events, while Windows might coalesce them. #1285 should fix the issue, can you try that branch @cg31?

[2020-03-22 13:35] gdf8gdn8 commented on #1284
@Thomasdezeeuw it's working.

[2020-03-22 13:42] cg31 commented on #1284
It works indeed!

[2020-03-22 14:05] #1284 closed

[2020-03-23 15:40] Thomasdezeeuw commented on #1218
@tormol since it's considered a bug I don't know if we can do something about it. Looking at the linked issue they seem to be working on a fix. So unless you have a suggestion, I don't think there is anything for us to do at the moment.

[2020-03-25 02:46] guoxiang666 opened #1288 "How to deal with TCP packet splitting and sticking when I use Mio ？"
How to deal with TCP packet splitting and sticking when I use Mio ？
Wating for your answer, thanks!

[2020-03-25 08:23] Thomasdezeeuw commented on #1288
We don't really provide an API that deals with individual packets. Using the `io::Read` trait you can read all bytes currently queued for a connection, the OS will handle the packets for us.

[2020-03-26 16:35] Thomasdezeeuw commented on #1284
Fixed in #1285.

[2020-03-26 22:23] jgallagher opened #1289 "Implementing timers via Waker?"
Apologies if this should've been attached to #907 instead; the post-close discussion there is exactly the same as what this issue refers to, but isn't quite the same as the stated goal of #907 (removing `Registration` and `SetReadiness`) - this feels like more of a followup API question.

I was trying to update a crate of mine today from mio 0.6 to 0.7, and that went relatively smoothly for my dir

[2020-03-27 06:02] yuguorui commented on #1288
You may need an userspace TCP/IP stack to decode/assemble splited packets, such as [smoltcp](https://github.com/m-labs/smoltcp.git).

2333😀

[2020-03-27 09:54] Thomasdezeeuw commented on #1289
I personally wouldn't use `Waker` for timers at all. I would keep the timers separate from Mio and instead see it as an additional source of events. When you would call `Poll::poll` check the next deadlines of the timers and use that as a timeout to call `Poll::poll`.

Something like the following:

[code]

[2020-03-27 09:57] Thomasdezeeuw commented on #1266
I'm closing this due to inactivity.

[2020-03-27 09:57] #1266 closed

[2020-03-27 12:17] Thomasdezeeuw opened #1291 "Use accept4(2) on NetBSD"
Now that https://github.com/rust-lang/libc/issues/1636 is fixed `accept4(2)` can be used on NetBSD here: https://github.com/tokio-rs/mio/blob/7323d718b363077bdfa24ac24a6e93489295ae12/src/sys/unix/tcp.rs#L60-L87

Do need wait for a new release of libc.

[2020-03-29 22:26] kulicuu opened #1293 ""function [new] or associated item not found in" `mio::poll::Poll`"
mio version 0.7.0
rustc version 1.44.0-nightly 2020-03-28

[code]

produces error:
[code]

[2020-03-29 22:33] kleimkuhler commented on #1293
@kulicuu In your `Cargo.toml` you will need to specify the `os-poll` feature in order to have a working `Poll` implementation:

[code]

Without specifying that feature, `Poll` only acts like a shell.

For some more information, you can look at the [features](https://docs.rs/mio/0.7.0/mio/features/index.html) module.

[2020-03-29 22:33] #1293 closed

[2020-03-30 07:28] guoxiang666 commented on #1288
Thanks

[2020-03-30 08:53] #1288 closed

[2020-03-31 21:35] kaimast commented on #1289
@Thomasdezeeuw you still need a waker here to wake up the poll after a new timer is registered...

[2020-03-31 21:41] Thomasdezeeuw commented on #1289
@kaimast yes, if you allow concurrent registering timers and polling then you would need to use a `Waker`.

[2020-04-15 17:24] Thomasdezeeuw opened #1296 "Cirrus CI failures"
Both #1294 and #1295 fail on Cirrus CI due to reasons unrelated to the prs themselves.

[code]

@asomers any ideas?

[2020-04-15 17:25] Darksonn commented on #1296
See [this issue](https://github.com/tokio-rs/tokio/pull/2403) on Tokio.

[2020-04-15 17:25] Thomasdezeeuw commented on #1296
Maybe updating to 11.3 or 12.1 will help?

[2020-04-15 17:26] Thomasdezeeuw commented on #1296
@Darksonn we're using `freebsd-11-2-release-amd64`, but I can try 12.1.

[2020-04-20 21:53] #1296 closed

[2020-04-24 02:33] goffrie opened #1303 "afd::POLL_ABORT mapping"
I noticed that this is mapped as `write_closed` in mio. Should this also trigger `read_closed`?

I observe that [wepoll maps it as EPOLLHUP](https://github.com/piscisaureus/wepoll/blob/8128da416cbfb67602dcc0d352b0da8bca3c93d0/wepoll.c#L1766) and that [libuv maps it as "readable"](https://github.com/libuv/libuv/blob/16910d23a34b8b8c313d24824fd85383aa8a8d40/src/win/poll.c#L192).

[2020-04-24 02:55] goffrie commented on #1303
Also, once POLL_ABORT happens it is reported on every poll, which is a bit surprising given that most events are edge-triggered.

Sample program:
[code]

On Windows the loop at the end goes forever, whereas on Linux we only get the one read_closed+write_closed event.

[2020-04-25 11:51] #1291 closed

[2020-04-29 17:38] elmarco opened #1308 "0.7 test fails on s390x"
While trying to package mio-0.7 for fedora rawhide, it fails to pass the test: https://kojipkgs.fedoraproject.org//work/tasks/5377/43905377/build.log

[code]

and

[code]

[2020-04-29 18:06] Thomasdezeeuw commented on #1308
Could you rerun this with `RUST_BACKTRACE` set to `1` or `full`? Currently we don't really have enough information to debug this.

Btw I would recommand running all tests on any CI with the `RUST_BACKTRACE` env var set for any rust projects to get a more detailed error log and backtrace.

[2020-04-29 19:50] elmarco commented on #1308
I enabled `RUST_BACKTRACE` and it disappeared. Probably random bug, feel free to close if I can't provide more details.

[2020-04-30 05:09] ignatenkobrain commented on #1308
[code]

[2020-04-30 05:18] kleimkuhler opened #1310 "UDP socket does not stay registered after receiving event"
Reported in discord and reproduced in #1309

[2020-04-30 09:55] Thomasdezeeuw commented on #1308
Both tests fail (I think) on the same issue: connection to the listener in [`start_connections`](https://github.com/tokio-rs/mio/blob/976f2354d0e8fbbb64fba3bf017d7131f9c369a0/tests/tcp_listener.rs#L272-L284). Maybe the thread that gets started never gets a chance to run?

Could you try running using only a single test thread:

[code]

[2020-04-30 18:28] kleimkuhler commented on #1310
https://github.com/tokio-rs/mio/pull/1309#issuecomment-621960860

[2020-04-30 18:28] #1310 closed

[2020-05-04 23:37] goffrie opened #1314 "Non-AFD fallback?"
Would it be in scope for mio to have a [fallback like libuv does](https://github.com/libuv/libuv/blob/16910d23a34b8b8c313d24824fd85383aa8a8d40/src/win/poll.c#L561) for non-MSAFD sockets on Windows?

(I ask because we are trying to deploy some software that uses mio 0.7 and a very significant number of users are hitting errors in registration, presumably due to this, so we're going to need a fallba

[2020-05-07 09:17] Thomasdezeeuw commented on #1314
I don't use Windows... so I don't really have an opinion on this.

/cc @carllerche @kleimkuhler @piscisaureus

[2020-05-07 11:37] piscisaureus commented on #1314
I think extracting the bsp socket with SIO_BASE_HANDLE should be enough. It works without issue in wepoll.

Maybe there's a bug in the current mio implementation where accidentally the layered socket is used instead of the base handle.

[2020-05-07 11:50] piscisaureus commented on #1314
I find that hard to believe. I have barely ever seen a legitimate LSP in the wild, it seems unlikely that "a very large number" of users use them all of a sudden.

But to be sure, have them share the output of `netsh winsock show catalog`.

[2020-05-07 12:05] piscisaureus commented on #1314
@goffrie from your patch it looks like you are dealing with `get_base_socket()` failures.

It should not fail unless you're on windows XP or older. I suspect there's a subtle bug in the WSAIoctl call.

Were you testing with a 32 bit version of windows by any chance? Maybe [this](https://github.com/tokio-rs/mio/blob/a4f1151a85eca6c5a8c8d7a99c19111edccfb2f3/src/sys/windows/selector.rs#L637) `size_of

[2020-05-07 16:06] goffrie commented on #1314
I was testing on 32-bit Windows 7. Things work fine on that OS and break
with monitoring software installed.

Note that the size of RawSocket is the same as usize (it's defined as u32
on 32bit, and u64 on 64bit.)

On Thu., May 7, 2020, 05:06 Bert Belder, <notifications@github.com> wrote:

[2020-05-07 16:53] goffrie commented on #1314
Here is the output of `netsh winsock show catalog`: https://gist.github.com/goffrie/bf213c7fa7906b4ef3ddfcc309119919

I agree that this doesn't actually make that much sense. Still, it's where I see errors coming from. I see that libuv ignores errors here entirely, and it uses an explicit provider whitelist.

Also I see that you actually wrote the libuv impl :smile:

[2020-05-07 17:11] piscisaureus commented on #1314
Libuv needed to support XP at the time, that's the whole reason the fallback is there. And there are some bugs in the whitelisting logic (it's too strict) that never got fixed.

I'm serious when I say SIO_BASE_HANDLE is enough - it really should not fail. To double check, maybe run the wepoll tests on your windows VM. I test it on CI with 2 different LSPs and it works fine. Microsoft docs (https:/

[2020-05-07 17:29] goffrie commented on #1314
Well.. I can only say that it does fail :P I also tried using the implementation here https://github.com/python-trio/trio/blob/master/trio/_core/_io_windows.py#L183 and it also gives the same error, which is

[code]

Interestingly, getting SIO_BSP_HANDLE_SELECT does work, though.

[2020-05-07 17:37] goffrie commented on #1314
Ran them and they all fail (except test-reflock and test-tree which I assume are not testing the actual socket stuff), EPOLL_CTL_ADD fails.

[2020-05-08 13:20] piscisaureus commented on #1314
@goffrie

Tried it myself, and I can confirm that SIO_BASE_HANDLE fails with EFAULT.
That's obviously a bug on qustodio's end, they shouldn't be intercepting the IOCTL at all.
However, when I use SIO_BSP_HANDLE I do get a different socket back, and everything works like clockwork.

Maybe we add a fallback to `get_base_socket()` to try that when `SIO_BASE_HANDLE()` fails?

[2020-05-08 13:24] piscisaureus commented on #1314
SIO_BSP_HANDLE_POLL also works.
SIO_BSP_HANDLE_SELECT indeed does not (it returns the input socket).

[2020-05-08 13:39] piscisaureus commented on #1314
cc @qustodio @irikuo https://github.com/tokio-rs/mio/issues/1314#issuecomment-625812392

[2020-05-08 14:03] piscisaureus commented on #1314
Also cc @navasdavid @kokart -- https://github.com/tokio-rs/mio/issues/1314#issuecomment-625812392

[2020-05-08 17:26] goffrie commented on #1314
Unfortunately qustodio is far from the only software we detected that
causes the error in get_base_socket :/

If we can get the AFD stuff working in more cases though, that still sounds
good.

On Fri., May 8, 2020, 07:04 Bert Belder, <notifications@github.com> wrote:

[2020-05-08 18:04] piscisaureus commented on #1314
So what are the other ones?

[2020-05-08 23:05] piscisaureus commented on #1314
I did some detailed debugging of qproxy64.dll (the DLL that implements the qustodio LSP).

They actually explicitly handle SIO_BASE_HANDLE, and they seem to *intentionally* break it.
The handler was helpful enough to call some sort of log function with the message "WSPIoctl: Disabling SIO_BASE_HANDLE".

So long story short: qustodio wants to break the network stack; we should let them. I'm just so

[2020-05-08 23:43] goffrie commented on #1314
Well... that's interesting! Thank you for the investigation :)

Given that, I think I don't think there's anything to do in mio then, but for us we're probably still going to have to have the workaround for the time being :(

[2020-05-08 23:51] piscisaureus commented on #1314
@goffrie

I'm cool with adding a workaround that falls back to SIO_BSP_HANDLE_POLL if SIO_BASE_HANDLE fails, because it'd be small and contained. If qustodio catches up and starts breaking that too, the onus will be on them to explain why they break dropbox instead of the other way around.

The #1315 workaround has a too high maintainance cost + bug risk IMO.

Another option would be to explicitly

[2020-05-08 23:51] carllerche commented on #1314
I think we probably can leave the issue open until we have a solution / work around.

[2020-05-08 23:52] goffrie commented on #1314
This sounds like a good option to me. How would one do that?

[2020-05-08 23:55] piscisaureus commented on #1314
https://docs.microsoft.com/en-us/windows/win32/api/winsock2/nf-winsock2-wsasocketw

You need to explicitly set the `lpProtocolInfo` field to one that matches the MSAFD provider.

To find the appropriate lpProtocolInfo struct, use [WSAEnumProtocols](https://docs.microsoft.com/en-us/windows/win32/api/winsock2/nf-winsock2-wsaenumprotocolsw). You've seen the code, it's how the libuv whitelist works.

[2020-05-09 09:30] #1314 closed

[2020-05-09 10:08] piscisaureus opened #1317 "MIO should not report out-of-band data as 'is_readable'."
As seen [here](https://github.com/tokio-rs/mio/blob/b15fc18458a79ef8a51f73effa92548650f4e5dc/src/sys/unix/selector/epoll.rs#L142).

This is a vector for denial-of-service attacks. For background, read https://github.com/sandstorm-io/sandstorm-website/blob/ccee81abb2968e8a0301b1a63e189be719bc02d7/_posts/2015-04-08-osx-security-bug.md.

[2020-05-10 01:52] kallisti5 opened #1319 "switch from net2 to socket2"
net2 is now deprecated.   mio should switch to socket2 which is supported.

[2020-05-10 08:25] Thomasdezeeuw commented on #1319
Mio doesn't use net2 anymore.

[2020-05-10 08:25] #1319 closed

[2020-05-10 08:41] Thomasdezeeuw commented on #1317
Thanks @piscisaureus for this, I didn't know about this. However I'm not sure I entirely agree. The blog post explicitly mentioned nginx isn't affected because it uses edge-triggered mode, which also true for Mio. So in the worst case scenario we can a single event, not an infinite loop.

If however we do bring back oneshot and level support (#1049) we should consider this. We should however clear

[2020-05-10 12:15] kallisti5 commented on #1319
https://github.com/tokio-rs/mio/blob/40df934a11b05233a7796c4de19a4ee06bc4e03e/Cargo.toml#L48 ??